<div>
    <div class="eclipse-wrapper">
      <div class="eclipse-item">
        <div class="eclipse-icon">
          <img
            class="eclipse-image"
            width="80"
            height="80"
            loading="lazy"
            src="{{ 'border-eclipse.png' | asset_url }}"
          >
          <p class="eclipse-text">92<span class = 'eclipse-percent'>%</span></p>
        </div>
        <p>
          92% of users who had similar responses to your SmileAI profile saw over 5 shades brighter in their first
          week of treatment.
        </p>
      </div>
      <div class="eclipse-item">
        <div class="eclipse-icon">
          <img
            class="eclipse-image"
            width="80"
            height="80"
            loading="lazy"
            src="{{ 'border-eclipse.png' | asset_url }}"
          >
          <p class="eclipse-text">87<span class = 'eclipse-percent'>%</span></p>
        </div>
        <p>87% of users who had similar responses to your SmileAI profile gave Formula 8-17 5 stars.</p>
      </div>
    </div>
  </div>