<div>
    <div class="eclipse-wrapper">
      <div class="eclipse-item">
        <div class="eclipse-icon">
          <img
            class="eclipse-image"
            width="90"
            height="90"
            loading="lazy"
            src="{{ 'border-eclipse.png' | asset_url }}"
          >
          <p class="eclipse-text">92<span class = 'eclipse-percent'>%</span></p>
        </div>
        <span class = 'landing-page-main eclipse-text-explainer'>
          92% of users who had similar responses to your SmileAI profile saw over <span style = 'font-weight: 700'>5 shades brighter</span> in their first
          week of treatment. 
        </span>
      </div>
      <div class="eclipse-item eclipse-item-2">
        <div class="eclipse-icon">
          <img
            class="eclipse-image"
            width="90"
            height="90"
            loading="lazy"
            src="{{ 'border-eclipse.png' | asset_url }}"
          >
          <p class="eclipse-text">87<span class = 'eclipse-percent'>%</span></p>
        </div>
        <span class = 'landing-page-main eclipse-text-explainer'>87% of users who had similar responses to your SmileAI profile gave Formula 8-17 <span style = 'font-weight: 700'>5 stars.</span></span>
      </div>
    </div>
  </div>