<div>
    <div class = 'product-landing-ingredient-wrapper'>
      <div class = 'product-landing-ingredient'>
        <div class = 'product-landing-ingredient-block'>
          <div class = 'ingredient-top-wrapper'>
            <span id = 'ingredients-box-1-percent' class = 'ingredient-box-percent'>11%</span>
            <span id = 'ingredients-box-1-name' class = 'ingredient-box-ingredient'>Hydrogen Perocide</span>
          </div>
          <span id = 'ingredients-box-1-purpose' class = 'ingredient-box-function canela'>Whitens Teeth</span>
        </div>
      </div>
      <div style = 'padding: 0 10px;' class = 'product-landing-ingredient'>
        <div class = 'product-landing-ingredient-block'>
          <div class = 'ingredient-top-wrapper'>
            <span id = 'ingredients-box-2-percent' class = 'ingredient-box-percent'>30%</span>
            <span id = 'ingredients-box-2-name' class = 'ingredient-box-ingredient'>Glycerin</span>
          </div>
          <span id = 'ingredients-box-2-purpose' class = 'ingredient-box-function canela'>Penetrates Stains</span>
        </div>
      </div>
      <div class = 'product-landing-ingredient'>
        <div class = 'product-landing-ingredient-block'>
          <div class = 'ingredient-top-wrapper'>
            <span id = 'ingredients-box-3-percent' class = 'ingredient-box-percent'>3%</span>
            <span id = 'ingredients-box-3-name' class = 'ingredient-box-ingredient'>Cellulose Gum</span>
          </div>
          <span id = 'ingredients-box-3-purpose' class = 'ingredient-box-function canela'>Prevents Irritation</span>
        </div>
      </div>
    </div>
  </div>