<style>
.custom_rc_wrapper {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}
.custom_rc_product_image {
  max-width: 170px;
  width: 100%
}

.custom_rc_flex_object {
  background-color: #FFFFFF !important;
  z-index: 5;
  overflow: hidden;
  flex: 1;
  align-self: flex-end;
}

.hide_radio_button {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.custom_rc_flex_object input:checked ~ label {
  border: 1px solid var(--navy)!important;
}

{% comment %} .inner_radio_wrapper {
  padding: 10px;
} {% endcomment %}

.time_text {
  display:block;
  text-align:center;
}

.option_top_banner {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  text-align: center;
}

.c_rc_f_o_radio1 {
  border-radius: 15px;
}

.c_rc_f_o_radio2 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
</style>

<div id = 'updated-price-big'>
  <div class="custom_rc_wrapper">
    <div class="custom_rc_flex_object c_rc_f_o_radio1">
      <input class = 'hide_radio_button' id="1_month_supply_big" type="radio" name="supply_type_big" value="1_month">
      <label for="1_month_supply_big">
        <div class = 'inner_radio_wrapper'>
          <img class = 'custom_rc_product_image' src="{{ '2_month_supply.png' | asset_url }}">
          <span class = 'time_text'>1 Month</span>
        </div>
      </label>
    </div>
    <div class="custom_rc_flex_object c_rc_f_o_radio2">
      <input class = 'hide_radio_button' id="2_month_supply_big" type="radio" name="supply_type_big" value="2_month" checked >
      <label for="2_month_supply_big">
        <div class = 'option_top_banner' style = 'background-color: #FF9F2F;'>
          <span>Save 20%</span>
        </div>
        <div class = 'inner_radio_wrapper'>
          <img class = 'custom_rc_product_image' src="{{ '2_month_supply.png' | asset_url }}">
          <span class = 'time_text'>2 Month</span>
        </div>
      </label>
    </div>
    <div class="custom_rc_flex_object c_rc_f_o_radio2">
      <input class = 'hide_radio_button' id="3_month_supply_big" type="radio" name="supply_type_big" value="3_month">
      <label for="3_month_supply_big">
        <div class = 'option_top_banner' style = 'background-color: #6E27BD;'>
          <span>Save 30% + Free Pen</span>
        </div>
        <div class = 'inner_radio_wrapper'>
          <img class = 'custom_rc_product_image' src="{{ '2_month_supply.png' | asset_url }}">
          <span class = 'time_text'>3 Month</span>
        </div>
      </label>
    </div>
  </div>
</div>

<script>
  $("input[type=radio][name=supply_type_big]").change(function() {
    var value = $(this).val();
    console.log('big value is ' + value)
    $("input[type=radio][name=supply_type][value=" + value + "]").prop("checked", true);
  });
</script>

{% comment %} <div id = 'updated-price-big' class="rc-container-wrapper rc_container_wrapper" data-widget-container-wrapper="" data-v-app="">
  <div class="rc-container rc_container" data-widget-container="">
    <div class="rc-widget rc_widget" data-widget="">
      <div class="rc-template" data-template="">
        <div class="rc-template__legacy-radio" data-template-legacy-radio="">
          <div style='background-color: #FAF5F1 !important; z-index: 5'
            class="rc-radio rc-option__onetime rc-option rc_widget__option rc_widget__option--onetime rc-legacy-radio"
            data-option-onetime="">
            <div class="rc_widget__option__selector" data-selector-onetime="">
              <input id="1_month_supply_big" type="radio" name="supply_type_big"
                class="rc-radio__input rc_widget__option__input rc_widget__option__input--onetime" data-radio-onetime=""
                value="1_month">
              <label for="1_month_supply_big" class="landing-radio__label rc_widget__option__label" data-label-onetime="">
                <span class="offer-name-0 landing-radio-flex rc-option__text landing-radio-flex-left"
                  data-label-text-onetime="">1 Month Supply</span>
                <span class="rc-option__price rc_widget__price rc_widget__price--onetime visually-hidden"
                  aria-label="original price" data-price-onetime="">$50</span>
                <div style = 'margin-top: 20px;' class="rc-custom-radio-button"></div>
                <span class="landing-radio-flex updated-price">$49</span>
              </label>
              <div
                style='padding-left: 40px;'>
                <ul class='mid-offer-list' style='padding: 10px; padding-bottom: 0px; margin-top: -5px; font-weight: 400; text-align:left'>
                  <li>1 Treatment Cycles: 3 Whitening Serums</li>
                  <li>Includes Nano-LED Accelerator Light</li>
                </ul>
              </div>
            </div>
          </div>
          <div class='mobile-offer-wrapper' style='background-color: #FF9F2F;'>
            <p class='mobile-offer-text'>Save 20% + Free Shipping</p>
          </div>
          <div style='background-color: #FAF5F1 !important; z-index: 5'
            class="rc-radio rc-option__subsave rc-option rc_widget__option rc_widget__option--subsave rc-legacy-radio rc_widget__option--active rc-option--active"
            data-option-subsave="">
            <div class="rc_widget__option__selector" data-selector-subsave="">
              <input id="2_month_supply_big" type="radio" name="supply_type_big"
                class="rc-radio__input rc_widget__option__input rc_widget__option__input--subsave" data-radio-subsave=""
                value="2_month" checked >
              <label for="2_month_supply_big" class="landing-radio__label non_flex rc_widget__option__label" data-label-subsave="">
                <div style='display: flex; flex: 1; padding-left: 40px; justify-content:space-between'>
                  <span class="offer-name-1 landing-radio-flex rc-option__text landing-radio-flex-left"
                    data-label-text-subsave="">2 Month Supply</span>
                  <div class='offer-button-wrapper'>
                    <div class='offer-button'>
                      <p class='offer-button-text '>Save 20% + Free Shipping</p>
                    </div>
                  </div>
                </div>
                <div style = 'display:flex'>
                  <div
                    style='display: flex; flex: 1; vertical-align: middle; flex-direction: column; padding-left: 40px;'>
                    <ul class='mid-offer-list' style='padding: 10px; margin: 0; font-weight: 400; text-align:left'>
                      <li>2 Treatment Cycles: 6 Whitening Serums</li>
                      <li>Includes Nano-LED Accelerator Light</li>
                    </ul>
                  </div>
                  <div>
                    <span class="rc-option__price rc_widget__price rc_widget__price--subsave visually-hidden"
                      aria-label="recurring price" data-price-subsave="">$79
                      &nbsp; &nbsp; &nbsp;<span style='color:#FF9F2F;text-decoration:line-through'><span
                          style='color:#c3c8cf;'>$98</span></span>
                    </span>
                    <div class="rc-custom-radio-button"></div>
                    <span class="landing-radio-flex updated-price">
                      &nbsp; &nbsp; &nbsp;<span style='color:#FF9F2F;text-decoration:line-through'><span
                          style='color:#c3c8cf'>$98</span></span>
                      $79</span>
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class='mobile-offer-wrapper' style='background-color: #A781D1;'>
            <p class='mobile-offer-text'>Save 30% + Free Shipping & Whitening Pen</p>
          </div>
          <div style='background-color: #FAF5F1 !important; z-index: 5'
            class="rc-radio rc-option__subsave rc-option rc_widget__option rc_widget__option--subsave rc-legacy-radio rc_widget__option--active rc-option--active"
            data-option-subsave="">
            <div class="rc_widget__option__selector" data-selector-subsave="">
              <input id="3_month_supply_big" type="radio" name="supply_type_big"
                class="rc-radio__input rc_widget__option__input rc_widget__option__input--subsave" data-radio-subsave=""
                value="3_month">
              <label for="3_month_supply_big" class="landing-radio__label non_flex rc_widget__option__label" data-label-subsave="">
                <div style='display: flex; flex: 1'>
                  <span class="offer-name-2 landing-radio-flex rc-option__text landing-radio-flex-left"
                    data-label-text-subsave="">3 Month Supply</span>
                  <div class='offer-button-wrapper'>
                    <div class='offer-button' style='margin-bottom: 3px;'>
                      <p class='offer-button-text'>Save 20% + Free Shipping</p>
                    </div>
                    <div class='offer-button' style='background-color: #8568A5'>
                      <p class='offer-button-text'>Free Whitening Pen</p>
                    </div>
                  </div>
                </div>
                <div style = 'display:flex'>
                  <div
                    style='display: flex; flex: 1; vertical-align: middle; flex-direction: column; padding-left: 40px;'>
                    <ul class='mid-offer-list last-option-margin' style='padding: 10px; margin: 0; font-weight: 400; text-align:left'>
                      <li>3 Treatment Cycles: 9 Whitening Serums</li>
                      <li>Includes Nano-LED Accelerator Light</li>
                      <li>Free To-Go Whitening Pen ($15 Value)</li>
                    </ul>
                  </div>
                  <div>
                    <span class="rc-option__price rc_widget__price rc_widget__price--subsave visually-hidden"
                      aria-label="recurring price" data-price-subsave="">$109
                      <span style='color:#FF9F2F;text-decoration:line-through'><span
                          style='color:#c3c8cf'>$159</span></span>
                    </span>
                    <div class="rc-custom-radio-button"></div>
                    <span class="landing-radio-flex updated-price">
                      <span style='color:#FF9F2F;text-decoration:line-through'><span
                          style='color:#c3c8cf'>$159</span></span>
                      $109</span>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("input[type=radio][name=supply_type_big]").change(function() {
    var value = $(this).val();
    console.log('big value is ' + value)
    $("input[type=radio][name=supply_type][value=" + value + "]").prop("checked", true);
  });
</script> {% endcomment %}