<style>
  .custom_rc_wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    max-width: 600px;
    margin: auto;
  }

  .monthofferwrapper {
    max-width: 600px;
    margin: auto;
  }
  .custom_rc_product_image {
    {% comment %} max-width: 170px; {% endcomment %}
    max-height: 147.3px;
    width: 100%;
    display: inline-block;
    padding: 7px;
  }

  .custom_rc_flex_object {
    background-color: #FFFFFF !important;
    z-index: 5;
    overflow: hidden;
    flex: 1;
    align-self: flex-end;
    max-width: 170px;
    border-radius: 15px;
  }

  .hide_radio_button {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }

  .custom_rc_flex_object input:checked ~ label .inner_radio_wrapper {
    border: 1px solid var(--navy)!important;
  }

  .custom_rc_flex_object input:not(:checked )~ label .inner_radio_wrapper {
    opacity: .8;
    filter: grayscale(60%);
  }

  .inner_radio_wrapper {
    border-radius: 15px;
    text-align: center;
  }

  .time_text {
    display:block;
    text-align:center;
    font-weight: 600;
    padding: 5px;
  }

  .save_banner_text {
    font-family: jakarta;
    font-weight: 600;
    font-size: 12px;
  }

  .option_top_banner {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    color: white;
    text-align: center;
  }

  .c_rc_f_o_radio1 {
    border-radius: 15px;
  }

  .c_rc_f_o_radio2 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .column_offer_list {
    padding: 15px 15px 15px 30px;
    font-weight: 400;
    text-align:left;
    margin: 0;
    line-height: 23px;
  }

  .offer_button_wrapper {
    display: inline-block;
    margin-left: 35px;
    flex: 1;
  }

  .offer-button-wrapper {
    flex: 1;
    min-width: 200px;
  }

  .offer_discount_wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .offer_button_text {
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 11px;
    color: white
  }

  .offer_button {
    display:inline-block;
    background-color: #FF9F2F;
    width: 100%;
    border-radius:20px;
    padding: 2px;
  }

  .offer_button_2 {
    display:inline-block;
    background-color: #6E27BD;
    width: 100%;
    border-radius:20px;
    padding: 2px;
  }

  .offer_discount_big_text {
    font-size: 35px;
    margin-left: 15px;
  }

  .offer_discount_small_text {
    color:#FF9F2F;
    text-decoration:line-through;
    font-size:30px
  }

  #a1monthoffer {
    display: none
  }

  #a3monthoffer {
    display: none
  }

  [data-active='true'] {
    box-shadow: 2px 2px 5px black;
  }

  @media screen and (max-width: 768px) {
    .offer_discount_big_text {
      font-size: 30px;
    }
    .offer_discount_small_text {
      font-size: 25px
    }
    .save_banner_text {
      font-size: 10px;
    }
    .column_offer_list {
      font-size: 14px;
      line-height: 23px;
    }
  }
</style>

<div>
  <div class="custom_rc_wrapper">
    <div id = 'c_rc_f_o_radio1_id' class="custom_rc_flex_object c_rc_f_o_radio1">
      <input class="hide_radio_button" id="1_month_supply_big" type="radio" name="supply_type" value="1_month">
      <label for="1_month_supply_big">
        <div class="inner_radio_wrapper">
          <img class="custom_rc_product_image" src="{{ '0-standalone-fixed.png' | asset_url }}">
          <span class="time_text">1 Month</span>
        </div>
      </label>
    </div>
    <div id = 'c_rc_f_o_radio2_id' class="custom_rc_flex_object c_rc_f_o_radio2">
      <input class="hide_radio_button" id="2_month_supply_big" type="radio" name="supply_type" value="2_month" checked>
      <label for="2_month_supply_big">
        <div class="inner_radio_wrapper">
          <div class="option_top_banner" style="background-color: #FF9F2F;">
            <span class="save_banner_text">Save 20%</span>
          </div>
          <img class="custom_rc_product_image" src="{{ '1-month-fixed.png' | asset_url }}">
          <span class="time_text">2 Month</span>
        </div>
      </label>
    </div>
    <div id = 'c_rc_f_o_radio3_id' class="custom_rc_flex_object c_rc_f_o_radio2">
      <input class="hide_radio_button" id="3_month_supply_big" type="radio" name="supply_type" value="3_month">
      <label for="3_month_supply_big">
        <div class="inner_radio_wrapper">
          <div class="option_top_banner" style="background-color: #6E27BD;">
            <span class="save_banner_text">Save 30% + Free Pen</span>
          </div>
          <img class="custom_rc_product_image" src="{{ '2-month-fixed.png' | asset_url }}">
          <span class="time_text">3 Month</span>
        </div>
      </label>
    </div>
  </div>
  <div class = 'monthofferwrapper'>
    <div id="a1monthoffer">
      <div class="offer_discount_wrapper">
        <span class="offer_discount_big_text"
          ><span class="offer_discount_small_text"> <span style="color:#c3c8cf;">$50</span></span
          >&nbsp;$49
        </span>
        {% comment %}
          <div class='offer_button_wrapper'>
            <div class='offer_button'>
              <p class='offer_button_text'>Save 20% + Free Shipping</p>
            </div>
          </div>
        {% endcomment %}
      </div>
      <ul class="column_offer_list">
        <li>1 Treatment Cycles: 3 Whitening Serums</li>
        <li>Includes Nano-LED Accelerator Light</li>
      </ul>
    </div>
    <div id="a2monthoffer">
      <div class="offer_discount_wrapper">
        <span class="offer_discount_big_text"
          ><span class="offer_discount_small_text"> <span style="color:#c3c8cf;">$98</span></span
          >&nbsp;$79
        </span>
        <div class="offer_button_wrapper">
          <div class="offer_button">
            <p class="offer_button_text">Save 20% + Free Shipping</p>
          </div>
        </div>
      </div>
      <ul class="column_offer_list">
        <li>2 Treatment Cycles: 6 Whitening Serums</li>
        <li>Includes Nano-LED Accelerator Light</li>
      </ul>
    </div>
    <div id="a3monthoffer">
      <div class="offer_discount_wrapper">
        <span class="offer_discount_big_text"
          ><span class="offer_discount_small_text"> <span style="color:#c3c8cf;">$159</span></span
          >&nbsp;$109
        </span>
        <div class="offer_button_wrapper">
          <div class="offer_button_2">
            <p class="offer_button_text">Save 30% + Free Pen</p>
          </div>
        </div>
      </div>
      <ul class="column_offer_list">
        <li>3 Treatment Cycles: 9 Whitening Serums</li>
        <li>Includes Nano-LED Accelerator Light</li>
        <li>Free To-Go Whitening Pen ($15 Value)</li>
      </ul>
    </div>
  </div>
</div>

<script>
  $('input[type=radio][name=supply_type]').change(function () {
    var value = $(this).val();
    if (value == '3_month') {
      $('#a3monthoffer').show();
      $('#a1monthoffer').hide();
      $('#a2monthoffer').hide();
      $('#c_rc_f_o_radio1_id').data( "active", 'true' );
      $('#c_rc_f_o_radio2_id').data( "active", 'false' );
      $('#c_rc_f_o_radio3_id').data( "active", 'false' );
    } else if (value == '1_month') {
      $('#a3monthoffer').hide();
      $('#a1monthoffer').show();
      $('#a2monthoffer').hide();
      $('#c_rc_f_o_radio1_id').data( "active", 'false' );
      $('#c_rc_f_o_radio2_id').data( "active", 'true' );
      $('#c_rc_f_o_radio3_id').data( "active", 'false' );
    } else {
      $('#a3monthoffer').hide();
      $('#a1monthoffer').hide();
      $('#a2monthoffer').show();
      $('#c_rc_f_o_radio1_id').data( "active", 'false' );
      $('#c_rc_f_o_radio2_id').data( "active", 'false' );
      $('#c_rc_f_o_radio3_id').data( "active", 'true' );
    }
  });
</script>
