<p class="question_headers">How is your gum health?</p>
<p class = 'question_subheader'>To us, it's just a number :)</p>
<div class="quiz_2__input-group quiz_2__input-group-bare box_label">
  <fieldset class="fieldset-row">
    <input class="for_email_klaviyo" type="radio" id="young_2" name="age_2" value="young_2">
    <label for="young_2">21 and under</label>

    <input class="for_email_klaviyo" type="radio" id="med_2" name="age_2" value="med_2">
    <label for="med_2">22-35</label>

    <input class="for_email_klaviyo" type="radio" id="old_2" name="age_2" value="old_2">
    <label for="old_2">36-55</label>

    <input class="for_email_klaviyo" type="radio" id="older_2" name="age_2" value="older_2">
    <label for="older_2">55+</label>

  </fieldset>
</div>