<p class="h5">How sensitive are your teeth?</p>
<div class="quiz_2__input-group box_label">
  <fieldset class="fieldset-row">
    <input class="for_email_klaviyo" type="radio" id="mild_2" name="sensitivity_2" value="mild_2">
    <label for="mild_2">Mild</label>
      {% comment %} <div class="custom-radio-button"></div> {% endcomment %}

    <input class="for_email_klaviyo" type="radio" id="medium_2" name="sensitivity_2" value="medium_2">
    <label for="medium_2">Medium</label>
    {% comment %} <div class="custom-radio-button"></div> {% endcomment %}

    <input class="for_email_klaviyo" type="radio" id="very_2" name="sensitivity_2" value="very_2">
    <label for="very_2">Very</label>
    {% comment %} <div class="custom-radio-button"></div> {% endcomment %}

  </fieldset>
</div>