<p class="question_headers">What is the source of your teeth discoloration?</p>
<div class ='additional_info_box'>
  <p>i. discoloration source is important in determinding...</p>
  <p>Intrinsic: thisfskj fjsd</p>
  <p>Extrinsic: thisfskj fjsd</p>
</div>
<div class="quiz_2__input-group box_label">
  <fieldset class="fieldset-row">
    <input class="for_email_klaviyo" type="radio" id="intrinsic_2" name="source_2" value="intrinsic_2">
    <label for="intrinsic_2">Intrinsic</label>

    <input class="for_email_klaviyo" type="radio" id="extrinsic_2" name="source_2" value="extrinsic_2">
    <label for="extrinsic_2">Extrinsic</label>

  </fieldset>
</div>