<p class="question_headers">What is the source of your teeth discoloration?</p>
<div class ='additional_info_box' style = 'overflow: auto'>
  <p style = 'display: inline-block'><img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-information.svg' | asset_url }}"></p>
  <ul style = 'margin-top: 0; float: right; max-width: 340px; display: inline-block'>
    <li><span style = 'font-style: italic; font-weight: 600'>Extrinsic discoloration</span> is when foods, beverages, or smoking habits stain your teeth.</li>
    <li><span style = 'font-style: italic; font-weight: 600'>Intrinsic discoloration</span> is from within the tooth. Some common causes are medication use, childhood illness, infection, tooth trauma, or aging.</li>
  </ul>
</p>
</div>
<div class="quiz_2__input-group box_label">
  <fieldset class="fieldset-row">
    <input class="for_email_klaviyo" type="radio" id="intrinsic_2" name="source_2" value="intrinsic_2">
    <label for="intrinsic_2">Intrinsic</label>

    <input class="for_email_klaviyo" type="radio" id="extrinsic_2" name="source_2" value="extrinsic_2">
    <label for="extrinsic_2">Extrinsic</label>

  </fieldset>
</div>