<p class="question_headers">What is the source of your teeth discoloration?</p>
<div class ='additional_info_box' style = 'overflow: auto'>
  <span class = 'icon'>
    <p style = 'display: inline-block'><img width = '20' height = '20' loading = 'lazy' src="{{ 'icons8-information-48.svg' | asset_url }}"></p>
  </span>
  <span class = 'text' style = 'display: inline-block; margin-top: -5px; margin-left: 10px;'>There are two main types:</span>
  <ul style = 'margin-top: 0; padding: 10px 20px 0px 34px'>
    <li><span style = 'font-weight: 600; font-size: 15px'>Extrinsic discoloration</span> is when foods, beverages, or smoking habits stain your teeth.</li>
    <li style = 'margin-top: 5px;'><span style = 'font-weight: 600; font-size: 15px;'>Intrinsic discoloration</span> is from within the tooth. Common causes are medication, childhood illness, infection, tooth trauma, or aging.</li>
  </ul>
</div>

<div class="quiz_2__input-group box_label">
  <fieldset class="fieldset-row">
    <input class="for_email_klaviyo" type="radio" id="intrinsic_2" name="source_2" value="intrinsic_2">
    <label for="intrinsic_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-body.svg' | asset_url }}"> 
      </span>
      <span class = 'text'>Intrinsic</span>
    </label>

    <input class="for_email_klaviyo" type="radio" id="extrinsic_2" name="source_2" value="extrinsic_2">
    <label for="extrinsic_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-coffee-2.svg' | asset_url }}">
      </span>
      <span class = 'text'>Extrinsic</span>
    </label>

    <input class="for_email_klaviyo" type="radio" id="both_2" name="source_2" value="both_2">
    <label for="both_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-two.svg' | asset_url }}">
      </span>
      <span class = 'text'>A little of both</span>
    </label>

  </fieldset>
</div>