<p class="question_headers">What's your email?</p>
<div class="quiz_2__input-group box_label">
  <div class="quiz_2__input-group quiz_2__input-group-columns">
    <input class = 'quiz_2_input' type="text" id="email_2" name="email_2" placeholder="Your email" required>
  </div>
</div>

<p style = 'opacity: 0'>let's get to know each other. what's your name?</p>
