<p class="question_headers">What's your name?</p>
<div class="quiz_2__input-group box_label">
  <div class="quiz_2__input-group quiz_2__input-group-columns">
    <input class = 'quiz_2_input' type="text" id="first_name_2" name="first_name_2" placeholder="Your name" required>
  </div>
</div>

<p style = 'opacity: 0'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
