<img class = 'insight_image' loading = 'lazy' src="{{ 'ai_tooth.png' | asset_url }}"> 
<p class="insight_headers">We're here to help with that!</p>
<p style = 'margin-bottom: 0;' class = 'insight_subheaders'>92% of people experience 6 shades whiter in the first treatment cycle</p>
<p style = 'padding-top: 0;' class = 'insight_subheaders'>That’s over 40% improvement in teeth color in just a week.</p>
