<p class="question_headers">What is your current teeth shade?</p>


{% comment %} <?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 3000 3000"><g style="isolation:isolate;"><g id="Layer_1"><image width="1024" height="1024" transform="scale(2.92969)" xlink:href="https://www.mylaughland.com/cdn/shop/t/128/assets/tooth.png?v=103019178649524242541693533373"/><path d="M1611.70436,423.05238s-220.26773-60.52402-302.62008-65.485-330.4016-36.71129-552.65372,132.9544c0,0-221.25993,0-365.12849,195.46281s-146.84515,387.94902-148.82955,546.70054,72.43038,563.56789,112.11826,676.67834,219.937,683.95445,542.73175,776.55951c108.4802,29.10444,190.50182-78.05283,218.28334-154.78273,0,0,174.62667,125.67828,305.59667-103.18849,0,0,101.86556,306.9196,277.81516,306.9196,120.38657,0,191.82475-96.57384,228.86677-138.90758,0,0,84.66748,46.30253,178.59546-7.93758s210.34576-174.62667,293.69031-342.63869,193.14768-415.3998,236.80435-658.8188,74.08404-469.63991,43.65667-666.75637-154.78273-370.42021-255.32536-431.27496-283.10687-96.57384-425.98324-78.05283c-85.99041,7.93758-171.98081,56.88596-248.71071,43.65667s-138.90758-31.08884-138.90758-31.08884Z" style="fill:#f2f2f2; mix-blend-mode:multiply;"/></g></g></svg> {% endcomment %}

<div style = 'padding: 30px 0' class="quiz_2__input-group">
  <fieldset class="fieldset-row fieldset-condensed">
    <div class="slidecontainer">
      <label style = 'text-align: center; margin-bottom: 30px;' class="color_container_2">
        <?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 3000 3000"><g style="isolation:isolate;"><g id="Layer_1"><image transform="scale(2.92969)" xlink:href="https://www.mylaughland.com/cdn/shop/t/128/assets/tooth.png?v=103019178649524242541693533373"/><path id = 'svgpath1' d="M1611.70436,423.05238s-220.26773-60.52402-302.62008-65.485-330.4016-36.71129-552.65372,132.9544c0,0-221.25993,0-365.12849,195.46281s-146.84515,387.94902-148.82955,546.70054,72.43038,563.56789,112.11826,676.67834,219.937,683.95445,542.73175,776.55951c108.4802,29.10444,190.50182-78.05283,218.28334-154.78273,0,0,174.62667,125.67828,305.59667-103.18849,0,0,101.86556,306.9196,277.81516,306.9196,120.38657,0,191.82475-96.57384,228.86677-138.90758,0,0,84.66748,46.30253,178.59546-7.93758s210.34576-174.62667,293.69031-342.63869,193.14768-415.3998,236.80435-658.8188,74.08404-469.63991,43.65667-666.75637-154.78273-370.42021-255.32536-431.27496-283.10687-96.57384-425.98324-78.05283c-85.99041,7.93758-171.98081,56.88596-248.71071,43.65667s-138.90758-31.08884-138.90758-31.08884Z" style="fill:hsl(43,40%,80%); mix-blend-mode:multiply;"/></g></g></svg>
        {% comment %} <svg width="41" height="52" viewBox="0 0 41 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id = 'svgpath1' d="M39.8675 5.69323C38.3814 2.3931 35.0933 -0.368749 31.2584 0.0406892C29.6108 0.216345 28.3112 1.01378 26.8899 1.77788C25.7581 2.38644 24.5837 2.94367 23.3379 3.28339C22.5874 3.48742 21.7886 3.60374 20.9863 3.63707C20.1977 3.6697 19.4061 3.62265 18.652 3.49972C17.1013 3.24769 15.6484 2.59399 14.2733 1.86487C14.219 1.83579 14.1644 1.80671 14.1101 1.77763C12.6881 1.0128 11.3892 0.216079 9.74164 0.0404417C5.90667 -0.369269 2.61886 2.39206 1.13245 5.69298C0.197484 7.77013 -0.0962474 10.0797 0.026426 12.3366C0.148438 14.5866 0.635048 16.8113 1.49489 18.8991C2.34442 20.964 3.59755 22.8399 4.42577 24.914C5.37818 27.299 5.40617 29.985 5.50398 32.5539C5.64513 36.2694 6.59396 39.9322 8.12845 43.3197C9.53065 46.4151 11.3768 49.6782 14.3754 51.5115C17.832 53.6241 18.1891 48.3274 18.2463 46.2365C18.3719 41.6226 17.8046 37.0528 18.546 32.4651C18.7372 31.2842 19.0841 29.4808 19.9563 28.446C20.2379 28.112 20.7626 28.112 21.0442 28.446C21.9164 29.4811 22.2633 31.2843 22.4544 32.4651C23.1961 37.0537 22.6286 41.6229 22.7542 46.2365C22.8116 48.3274 23.1688 53.624 26.6251 51.5115C29.6244 49.6776 31.4706 46.4153 32.872 43.3197C34.4065 39.9323 35.3553 36.2688 35.4965 32.5539C35.5944 29.9842 35.6221 27.2993 36.5747 24.914C37.4029 22.8397 38.6561 20.9637 39.5056 18.8991C40.3647 16.8111 40.8513 14.5863 40.9741 12.3366C41.0954 10.0802 40.8025 7.77032 39.8675 5.69323Z" fill="hsl(43,40%,74%)"/>
        </svg> {% endcomment %}
      </label>
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>
  </fieldset>
</div>
<p  class="question_headers">What's closest to your end goal?</p>
<div class="quiz_2__input-group">
  <fieldset class="fieldset-row fieldset-condensed">
    <div class="slidecontainer">
      <label style = 'text-align: center; margin-bottom: 30px;' class="color_container_2">
        <?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 3000 3000"><g style="isolation:isolate;"><g id="Layer_1"><image transform="scale(2.92969)" xlink:href="https://www.mylaughland.com/cdn/shop/t/128/assets/tooth.png?v=103019178649524242541693533373"/><path id = 'svgpath2' d="M1611.70436,423.05238s-220.26773-60.52402-302.62008-65.485-330.4016-36.71129-552.65372,132.9544c0,0-221.25993,0-365.12849,195.46281s-146.84515,387.94902-148.82955,546.70054,72.43038,563.56789,112.11826,676.67834,219.937,683.95445,542.73175,776.55951c108.4802,29.10444,190.50182-78.05283,218.28334-154.78273,0,0,174.62667,125.67828,305.59667-103.18849,0,0,101.86556,306.9196,277.81516,306.9196,120.38657,0,191.82475-96.57384,228.86677-138.90758,0,0,84.66748,46.30253,178.59546-7.93758s210.34576-174.62667,293.69031-342.63869,193.14768-415.3998,236.80435-658.8188,74.08404-469.63991,43.65667-666.75637-154.78273-370.42021-255.32536-431.27496-283.10687-96.57384-425.98324-78.05283c-85.99041,7.93758-171.98081,56.88596-248.71071,43.65667s-138.90758-31.08884-138.90758-31.08884Z" style="fill:hsl(43,40%,80%); mix-blend-mode:multiply;"/></g></g></svg>
        {% comment %} <svg width="41" height="52" viewBox="0 0 41 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id = 'svgpath2' d="M39.8675 5.69323C38.3814 2.3931 35.0933 -0.368749 31.2584 0.0406892C29.6108 0.216345 28.3112 1.01378 26.8899 1.77788C25.7581 2.38644 24.5837 2.94367 23.3379 3.28339C22.5874 3.48742 21.7886 3.60374 20.9863 3.63707C20.1977 3.6697 19.4061 3.62265 18.652 3.49972C17.1013 3.24769 15.6484 2.59399 14.2733 1.86487C14.219 1.83579 14.1644 1.80671 14.1101 1.77763C12.6881 1.0128 11.3892 0.216079 9.74164 0.0404417C5.90667 -0.369269 2.61886 2.39206 1.13245 5.69298C0.197484 7.77013 -0.0962474 10.0797 0.026426 12.3366C0.148438 14.5866 0.635048 16.8113 1.49489 18.8991C2.34442 20.964 3.59755 22.8399 4.42577 24.914C5.37818 27.299 5.40617 29.985 5.50398 32.5539C5.64513 36.2694 6.59396 39.9322 8.12845 43.3197C9.53065 46.4151 11.3768 49.6782 14.3754 51.5115C17.832 53.6241 18.1891 48.3274 18.2463 46.2365C18.3719 41.6226 17.8046 37.0528 18.546 32.4651C18.7372 31.2842 19.0841 29.4808 19.9563 28.446C20.2379 28.112 20.7626 28.112 21.0442 28.446C21.9164 29.4811 22.2633 31.2843 22.4544 32.4651C23.1961 37.0537 22.6286 41.6229 22.7542 46.2365C22.8116 48.3274 23.1688 53.624 26.6251 51.5115C29.6244 49.6776 31.4706 46.4153 32.872 43.3197C34.4065 39.9323 35.3553 36.2688 35.4965 32.5539C35.5944 29.9842 35.6221 27.2993 36.5747 24.914C37.4029 22.8397 38.6561 20.9637 39.5056 18.8991C40.3647 16.8111 40.8513 14.5863 40.9741 12.3366C41.0954 10.0802 40.8025 7.77032 39.8675 5.69323Z" fill= "hsl(43,40%,74%)"/>
        </svg> {% endcomment %}
      </label>
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
    </div>
  </fieldset>
</div>

<script>
  var slider = document.getElementById("myRange");
  var slider2 = document.getElementById("myRange2");
  
  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    console.log(this.value)
    document.getElementById('svgpath1').setAttribute('style', 'fill: hsl(43,40%,' + Math.min((this.value / 3 + 70), 100) + '%); mix-blend-mode:multiply;');

    {% comment %} document.getElementById('svgpath1').setAttribute('style', 'fill: hsl(43,40%,' + (this.value / 2 + 50) + '%)'); {% endcomment %}
  }
  slider2.oninput = function() {
    console.log(this.value)
    document.getElementById('svgpath2').setAttribute('style', 'fill: hsl(43,40%,' + Math.min((this.value / 3 + 70), 100) + '%); mix-blend-mode:multiply;');
  }
</script>

<style>
  .slider {
    -webkit-appearance: none;
    width: 95%;
    height: 6px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: var(--blue) !important;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--blue) !important;
    cursor: pointer;
  }

  .slidecontainer {
    width: 100%; /* Width of the outside container */
    text-align: center;
  }
</style>