<img class = 'insight_image' width = '120' height = '120' loading = 'lazy' src="{{ 'icons8-ai.svg' | asset_url }}"> 
<p class="insight_headers">We're here to help with that!</p>
<p id = 'ten_response_text_1' class = 'insight_subheaders'></p>
<p id = 'ten_response_text_2' class = 'insight_subheaders'></p>

