<img class = 'insight_image' loading = 'lazy' src="{{ 'ai_tooth.png' | asset_url }}"> 
<p style = 'text-transform: none;' class="powered-quiz quiz_2__headline active" data-step="0">Powered by SmileAI</p>


{% comment %} <p class="insight_headers">We're here to help with that!</p> {% endcomment %}
<p id = 'three_response_text_1' class = 'insight_subheaders' style = 'margin-bottom: 0;'>
</p>
<p id = 'three_response_text_2' class = 'insight_subheaders' style = 'margin-bottom: 0;'>
</p>