<p class="h5">How sensitive are your teeth?</p>
<div class="quiz_2__input-group">
  <fieldset class="fieldset-row">
    <label for="mild_2">
      <input class="for_email_klaviyo" type="radio" id="mild_2" name="sensitivity_2" value="mild_2">
      <div class="custom-radio-button"></div>
      Mild
    </label>

    <label for="medium_2">
      <input class="for_email_klaviyo" type="radio" id="medium_2" name="sensitivity_2" value="medium_2">
      <div class="custom-radio-button"></div>
      Medium
    </label>

    <label for="very_2">
      <input class="for_email_klaviyo" type="radio" id="very_2" name="sensitivity_2" value="very_2">
      <div class="custom-radio-button"></div>
      Very
    </label>
  </fieldset>
</div>

<p class="h5">Have you had any dental operations or cavities in the last year?</p>
<div class="quiz_2__input-group">
  <fieldset>
    <label for="yes_cavity_2">
      <input type="radio" id="yes_cavity_2" name="cavities_2" value="yes_2">
      <div class="custom-radio-button"></div>
      Yes
    </label>

    <label for="no_cavity_2">
      <input type="radio" id="no_cavity_2" name="cavities_2" value="no_2">
      <div class="custom-radio-button"></div>
      No
    </label>
  </fieldset>
</div>