<p class="question_headers">How is your gum health?</p>
<p class = 'question_subheaders'>Select all that apply.</p>
<div class="quiz_2__input-group box_label">
  <fieldset class="fieldset-row">
    <input class="for_email_klaviyo" type="checkbox" id="plaque_2" name="gum_2" value="plaque_2">
    <label for="plaque_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-tooth.svg' | asset_url }}"> 
      </span>
      <span class = 'text'>Plaque or tartar buildup</span>
    </label>

    <input class="for_email_klaviyo" type="checkbox" id="bleeding_2" name="gum_2" value="bleeding_2">
    <label for="bleeding_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-blood.svg' | asset_url }}"> 
      </span>
      <span class = 'text'>Gum bleeding</span>
    </label>

    <input class="for_email_klaviyo" type="checkbox" id="inflammation_2" name="gum_2" value="inflammation_2">
    <label for="inflammation_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-flame.svg' | asset_url }}"> 
      </span>
      <span class = 'text'>Gum inflammation</span>
    </label>

    <input class="for_email_klaviyo" type="checkbox" id="ok_2" name="gum_2" value="ok_2">
    <label for="ok_2">
      <span class = 'icon'>
        <img width = '30' height = '30' loading = 'lazy' src="{{ 'icons8-ok-hand.svg' | asset_url }}"> 
      </span>
      <span class = 'text'>It's doing ok</span>
    </label>

  </fieldset>
</div>