<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p id = 'name_evaluation' class="question_headers"></p>

<div style = 'text-align: center'>
  <img class = 'quiz_last_logo'loading = 'lazy' src="{{ 'ai_tooth.png' | asset_url }}" > 
</div>

<div style = 'width: 100%;'>
  <div id="myProgress">
    <div id="myBar"></div>
  </div>
</div>

<div class = 'customer_cred'>
  <p class = 'quiz_normal_body_text'>Here’s what other customers with a similar quiz profile as you are saying after their whitening treatments</p>

  <div class = 'quote_boxes_wrapper'>
    <div class = 'quote_box'>
      <div class = 'quote_wrapper'>
        <p class = 'quiz_normal_body_text'>This is GREAT for Sensitive Teeth! I’ve done 6 treatments and have noticeable brighter teeth. These were not painful at all! I would recommend you try it. You won’t regret it.</p>
        <div>
          <div style = 'display: inline-block; margin-top: 5px' class = 'stars-container'>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class = 'quiz_normal_body_text' style = 'color: #6f6f6fa1; display: inline-block'>Allie S.</p>
        </div>
      </div>
    </div>

    <div class = 'quote_box'>
      <div class = 'quote_wrapper'>
        <p class = 'quiz_normal_body_text'>It’s like a magic eraser for your teeth.  Stains Out, Shine In. I’ve tried Strips, Charcoal, Colgate Whitening Pens but nothing works like this. I can smile with teeth again!</p>
        <div>
          <div style = 'display: inline-block; margin-top: 5px' class = 'stars-container'>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class = 'quiz_normal_body_text' style = 'color: #6f6f6fa1; display: inline-block'>Lesley C.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} <div class = 'credibility'>
  <img class = 'customer_image' width = '70' height = '70' loading = 'lazy' src="{{ 'holly.png' | asset_url }}"> 
  <p class = 'credibility-quote'>Wow, I wasn't expecting to see results like this in just 10 days!</p>
  <div class = 'stars-container'>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
  <p style = 'color: #6f6f6fa1'>HOLLY C.</p>
</div>
<p class = 'insight_headers calculating_match'>Calculating your match</p> {% endcomment %}

<script>
  function populateProfile(serialized) {
    console.log(serialized)
  }

</script>

<style>
  .quiz_last_logo {
    display:inline-block; 
    margin-top: -20px; 
    margin-bottom: -10px;
    height: 120px;
    width: 120px;
  }
  #myProgress {
    width: 220px;
    background-color: #ddd;
    margin-left: auto;
    margin-right: auto;
  }
  
  #myBar {
    width: 1%;
    height: 3px;
    background-color: var(--blue);
      /* This timing applies on the way OUT */
    transition-timing-function: ease-in;

    /* Quick on the way out */
    transition: 0.2s;
    transition-timing-function: ease-out;
  }
  .customer_cred {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .quote_boxes_wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
  }
  .quote_box {
    background-color: #E8EEF1;
    border: 1px solid #CDCDCD;
    margin-bottom: 10px;
  }
  .quote_wrapper {
    padding: 15px;
  }

  .credibility {
    padding: 20px;
    margin: 30px 0;
    box-shadow: 0px 0px 6px 3px #46464626;
    border-radius: 10px;
    text-align:center;
  }
  .credibility-quote {
    padding: 20px;
  }
  .customer_image {
    border-radius: 100px;
  }
  .stars-container {
    color: var(--blue);
  }
  </style>