<p class="question_headers">What kind of shade are you craving?</p>
<div class="quiz_2__input-group quiz_2__input-group-bare box_label">
  <fieldset class="fieldset-row">
    <input class="for_email_klaviyo" type="radio" id="natural_2" name="whiteness_2" value="natural_2">
    <label for="natural_2">Natural white</label>

    <input class="for_email_klaviyo" type="radio" id="porcelain_2" name="whiteness_2" value="porcelain_2">
    <label for="porcelain_2">Porcelain white (like veneers)</label>

  </fieldset>
</div>