<p class="question_headers">Do you have any coffee stains like this?</p>
<div style = 'text-align: center; margin-top: 30px;'>
  <img style = 'display: inline-block' width = '236' height = '148' loading = 'lazy' src="{{ 'coffee-stains_small.png' | asset_url }}">
</div>
<div class="quiz_2__input-group quiz_2__input-group-bare box_label">
  <fieldset class="fieldset-row">
    <input class="for_email_klaviyo" type="radio" id="c_none_2" name="coffee_stains_2" value="c_none_2">
    <label for="c_none_2">Nope</label>

    <input class="for_email_klaviyo" type="radio" id="c_some_2" name="coffee_stains_2" value="c_some_2">
    <label for="c_some_2">A little bit</label>

    <input class="for_email_klaviyo" type="radio" id="c_yes_2" name="coffee_stains_2" value="c_yes_2">
    <label for="c_yes_2">Yes indeed</label>

  </fieldset>
</div>