<label class="h5" for="first_name">What's your name?</label>
<label class="visually-hidden" for="last_name">What's your last name?</label>
<div class="quiz_2__input-group quiz_2__input-group-columns">
  <input type="text" id="first_name_2" name="first_name_2" placeholder="First Name" required>
  <input type="text" id="last_name_2" name="last_name_2" placeholder="Last name" required>
</div>

{% comment %} <p class="h5">What are your goals?</p>
<p class="body-sm">Select all that apply.</p>
<div class="quiz_2__input-group">
  <fieldset class="fieldset-columns">
    <label for="whitening_2">
      <input class="for_email_klaviyo" type="checkbox" id="whitening_2" name="goals_2" value="whitening_2">
      <div class="custom-radio-button"></div>
      Teeth Whitening
    </label>

    <label for="oral_hygiene_2">
      <input class="for_email_klaviyo" type="checkbox" id="oral_hygiene_2" name="goals_2" value="oral_hygiene_2">
      <div class="custom-radio-button"></div>
      Oral Hygiene
    </label>

    <label for="enamel_health_2">
      <input class="for_email_klaviyo" type="checkbox" id="enamel_health_2" name="goals_2" value="enamel_health_2">
      <div class="custom-radio-button"></div>
      Enamel Health
    </label>

    <label for="sensitivity_reduction_2">
      <input class="for_email_klaviyo" type="checkbox" id="sensitivity_reduction_2" name="goals_2" value="sensitivity_reduction_2">
      <div class="custom-radio-button"></div>
      Sensitivity Reduction
    </label>

    <label for="better_breath_2">
      <input class="for_email_klaviyo" type="checkbox" id="better_breath_2" name="goals_2" value="better_breath_2">
      <div class="custom-radio-button"></div>
      Better Breath
    </label>

    <label for="cavity_prevention_2">
      <input class="for_email_klaviyo" type="checkbox" id="cavity_prevention_2" name="goals_2" value="cavity_prevention_2">
      <div class="custom-radio-button"></div>
      Cavity Prevention
    </label>
  </fieldset> {% endcomment %}
</div>
