<img class = 'insight_image' width = '120' height = '120' loading = 'lazy' src="{{ 'icons8-ai.svg' | asset_url }}"> 
<p class="insight_headers">We're here to help with that!</p>
<p id = 'ten_response_text' class = 'insight_subheaders'>92% of people experience 6 shades whiter in the first treatment cycle</p>
