<p class="question_headers">Do you have any white stains like this?</p>
<div style = 'text-align: center; margin-top: 30px;'>
  <img class = 'teeth_compare' width = '236' height = '148' loading = 'lazy' src="{{ 'white-stains_small.png' | asset_url }}">
</div>
<div class="quiz_2__input-group quiz_2__input-group-bare box_label">
  <fieldset class="fieldset-row">
    <input class="for_email_klaviyo" type="radio" id="none_2" name="white_stains_2" value="none_2">
    <label for="none_2">Nope</label>

    <input class="for_email_klaviyo" type="radio" id="some_2" name="white_stains_2" value="some_2">
    <label for="some_2">A little bit</label>

    <input class="for_email_klaviyo" type="radio" id="yes_2" name="white_stains_2" value="yes_2">
    <label for="yes_2">Yes indeed</label>


  </fieldset>
</div>