<p class="question_headers">Fill in your details to get your results.</p>
<div class="quiz_2__input-group box_label">
  <div class="quiz_2__input-group quiz_2__input-group-columns">
    {% comment %} <input class = 'quiz_2_input' type="text" id="email_2" name="email_2" placeholder="Your email" required> {% endcomment %}
    <div class="quiz__input-group">
      <input
        class="for_email_klaviyo quiz_2_input"
        type="email"
        name="contact[email]"
        style="color: #3a5ca5"
        id="ourformbutforklaviyo"
        placeholder="Email"
        required
      >
      <input class="for_email_klaviyo" type="hidden" name="contact[tags]" value="newsletter">
      <p class="form-error-message body-xs hidden">This field is required</p>
    </div>
  </div>
</div>

<div style = 'width: 100%; text-align: center; display: inline-block'>
  <div style = 'text-align: center; max-width: 400px; display: inline-block'>
    <p style = 'font-weight: 400; line-height: 30px; max-width: 400px; display: inline-block; margin-bottom: 20px;' class = 'insight_headers'>"No smiles are the same, so why should your whitening formula be?"</p>
    <img  style = 'display: inline-block;' class = 'insight_image_2' width = '120' height = '52' loading = 'lazy' src="{{ 'good-morning-small.png' | asset_url }}"> 
  </div>
</div>
<p style = 'opacity: 0'>"No smiles are the same, so why should your whitening formula be?"</p>