<div>
    <span class="fa fa-star checked-landing"></span>
    <span class="fa fa-star checked-landing"></span>
    <span class="fa fa-star checked-landing"></span>
    <span class="fa fa-star checked-landing"></span>
    <span class="fa fa-star checked-landing"></span>
    <span><span style = 'font-weight: 600; margin-right: 5px;'>4.7 Stars</span> from 1,623 Reviews</span>
  </div>