<div>
    <span class="fa fa-star checked-landing landing-stars"></span>
    <span class="fa fa-star checked-landing landing-stars"></span>
    <span class="fa fa-star checked-landing landing-stars"></span>
    <span class="fa fa-star checked-landing landing-stars"></span>
    <span class="fa fa-star checked-landing landing-stars"></span>
    <span class = 'landing-stars'><span style = 'font-weight: 600; margin-right: 5px;'>4.7 Stars</span> from 1,623 Reviews</span>
  </div>