
    <div id = 'upsell_background' class = 'upsell-background-screen'>
      <div class = 'upsell-wrapper'>
        <div class = 'upsell-box'>
          <p style = 'position: absolute; cursor: pointer;' onclick = 'closePopup()'>X</p>
          <h3 class = 'headers_upsell_main'>Enhance Your Results.</h3>
          <h5>The Same Whitening Formula, But As <b>A Portable Pen</b></h5>
          <div class = 'content-flex'>
           <img class = 'pen_image' src="https://cdn.shopify.com/s/files/1/0066/4728/3782/files/PopUp_Image_1.webp?v=1727276126";>

          </div>
          <div>
            <div class = 'upsell_explainer_text'>
              <p>Like a stain removing Tide-Pen, but for your teeth. Brighter smile in minutes to give you a boost before dates, interviews and photos.</p>
            </div>
            <div class = 'upsell-subheading-box'>
                <h5 class = 'headers_upsell' style = 'font-size: 23px; text-decoration: line-through'>$19</h5>
                <h5 style = 'font-size: 25px; color: #37A20D' class = 'headers_upsell'>$4.95</h5>
                <div class = 'upsell_square_banner headers_upsell'>
                  <p class = 'banner_explainer'>Save 75%</p>
                 </div>
            </div>
            <div class = 'button-wrapper-upsell'>
              <button
                class="product-form__submit shopify-payment-button__button shopify-payment-button__button--unbranded upsell_buttons button"
                 onclick = 'checkout()' style = 'background-color: #DADADA; color: #323232' >
                 <span class = 'spacing'>
                     No Thanks
                 </span>
               </button>
              <button
                class="product-form__submit shopify-payment-button__button shopify-payment-button__button--unbranded upsell_buttons button upsell_buy_now"
                style = 'background-color: #46BDF0 !important;'
                onclick = 'add_pen()'       >
                 <span class = 'spacing'>
                     Buy Now
                 </span>
               </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // left: 37, up: 38, right: 39, down: 40,
      // spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
      var keys = {37: 1, 38: 1, 39: 1, 40: 1};

      function preventDefault(e) {
        e.preventDefault();
      }

      function preventDefaultForScrollKeys(e) {
        if (keys[e.keyCode]) {
          preventDefault(e);
          return false;
        }
      }

      // modern Chrome requires { passive: false } when adding event
      var supportsPassive = false;
      try {
        window.addEventListener("test", null, Object.defineProperty({}, 'passive', {
          get: function () { supportsPassive = true; } 
        }));
      } catch(e) {}

      var wheelOpt = supportsPassive ? { passive: false } : false;
      var wheelEvent = 'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';

      // call this to Disable
      function disableScroll() {
        window.addEventListener('DOMMouseScroll', preventDefault, false); // older FF
        window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
        window.addEventListener('touchmove', preventDefault, wheelOpt); // mobile
        window.addEventListener('keydown', preventDefaultForScrollKeys, false);
      }

      function enableScroll() {
        window.removeEventListener('DOMMouseScroll', preventDefault, false);
        window.removeEventListener(wheelEvent, preventDefault, wheelOpt); 
        window.removeEventListener('touchmove', preventDefault, wheelOpt);
        window.removeEventListener('keydown', preventDefaultForScrollKeys, false);
      }

      function checkout() {
        setCookie('add_pen', 'false')
        $('#real-submit-button').click()
        $('body').css("filter","none");
      }
      function openPopup() {
        $('#MainContent > *').css({"position":"auto","z-index":"auto"});
        $('#upsell_background').show()
        disableScroll()
      }

      function closePopup() {
        $('#upsell_background').hide()
        enableScroll()
      }
      function add_pen() {
        const strength_cookie = getCookie('strength')
        kit_formula_dict = {
          'medium': 42250643833057,
          'strong': 42250643865825,
          'weak': 42250643898593
        }
        
        pen_formula_dict = {
          'medium': 42210600812769,
          'strong': 42210600845537,
          'weak': 42210600878305
        }

        pen_selling_plan_dict = {
          3449880801: 3450175713,
          3449913569: 3450208481,
          3449946337: 3450241249
        }
        if (strength_cookie in pen_formula_dict) {
          formula_id = pen_formula_dict[strength_cookie]
        } else {
          formula_id = pen_formula_dict['medium']
        }

        setCookie('add_pen', formula_id)
        $('#real-submit-button').click()
      } 
      
    
      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
      }

      function setCookie(key, value) {
        var date = new Date();
        date.setTime(date.getTime() + 2 * 3600 * 1000);
        var expires = date.toUTCString();
        console.log(expires)
        document.cookie = `${key}=${value}; expires=${expires}; path=/`;
      }
      
      
      function removeCookie(key) {
        document.cookie = `${key}=true;expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/;`
      }
    </script>
    <style>
          h2, h3, h4, h5 {
            text-transform: none;
          }
          .headers_upsell_main {
            margin-top: 20px;
            margin-bottom: 10px;
          }
          .upsell_explainer_text {
            width: 400px; 
            max-width: 90%; 
            display: inline-block; 
            margin-bottom: 15px; 
            margin-top: 10px;
          }

          .button-wrapper-upsell {
            display:flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
          }
          .upsell_buttons {
              max-width: 100%;
              font-weight: 600; 
              border: none; 
              box-shadow: none !important;
              width: 220px;
              margin-bottom: 15px;
        }

        .upsell_buy_now:hover {
          color: white !important;
        }
          .headers_upsell {
             {% comment %} font-family: Futura; {% endcomment %}
              font-style: normal;
              font-weight: 400;
              padding: 8px;
              {% comment %} letter-spacing: -.045em; {% endcomment %}
              display: inline-block;
        }
        .upsell_square_banner {
          background-color: #37A20D;
          color: white;
          border-radius: 5px;
          width: 75px;
          padding: 5px;
        }
        .spacing {
              letter-spacing: .01em;
        }
        .upsell-box {
             width: 700px;
              height: 80vh;
              background-color: white;
              border-radius: 10px;
              text-align: center;
              display: flex;
              flex-flow: column;
              border: 1px solid #46BDF0;
              padding: 15px;
        }
        .upsell-background-screen {
            margin-top: -30px;
            width: 100vw; 
            height: 100vh; 
            position: fixed; 
            backdrop-filter: blur(6px);
            z-index: 100;
            display: none;
            -webkit-backdrop-filter: blur(10px);
        }
        .left-column-popup {
          width: 80px;
          float:left;
          margin-left: 10px;
        }
        .right-column-popup {
          float: left;
        }
        .upsell-subheading-box {
          width: 350px;
          display: inline-block;
        }
        .upsell-wrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-top: 50px;
        }
        .pen_image {
            border-radius: 10px;
              display: inline-block;
              height: 100%;
        }
          .content-flex {
             flex: 1 1 auto; 
              overflow: hidden;
        }
      
          .show-normal {
             display: list-item 
        }
          .show-mobile {
             display: none 
        }
          .show-normal-inline {
             display: inline-block 
        }
          .show-mobile-inline {
             display: none 
        }
          @media screen and (max-width: 750px) {
              .upsell-box {
              width: 92vw;
              height: 80vh;
            }
              .upsell-wrapper {
              position: absolute;
              left: 50%;
              top: 50px;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
            }
              .show-normal {
                display: none 
            }
            .show-mobile {
                display: list-item  
            }
              .show-normal-inline {
                display: none
            }
            .show-mobile-inline {
                display: inline-block 
            }
            .like-tide {
              font-size: 12px;
              line-height: 18px;
            }
            .upsell-subheading-box {
              width: 350px;
            }
        }
    </style>
