{% if product.handle == "at-home-whitening-kit" or product.handle == "at-home-whitening-kit-2" %}

    <div id = 'upsell_background' class = 'upsell-background-screen'>
      <div class = 'upsell-wrapper'>
        <div class = 'upsell-box'>
          <h4 class = 'headers_upsell_main headers_upsell show-normal-inline'>Complete the set. <span style= 'font-style: italic;font-family: "Canela Text Trial", sans-serif;
            font-weight: 300;'>Cancel stains on the go.</span></h4>
          <h3 class = 'headers_upsell headers_upsell_main show-mobile-inline' style = 'margin-bottom: 0'>Complete the set.</h3>
          <h3 class = 'show-mobile-inline' style= 'font-style: italic;font-family: "Canela Text Trial", sans-serif; font-weight: 300;'>Cancel stains on the go.</h3>
          <div class = 'content-flex'>
           <img class = 'pen_image' src="https://cdn.shopify.com/s/files/1/0066/4728/3782/files/Laughland_PenProduct_72501_3.png?v=1683324105";>
          </div>
          <div class = 'show-normal-inline'>
            <div class = 'upsell-subheading-box'>
              <div class = 'left-column-popup'>
                <h4 class = 'headers_upsell show-normal-inline' style = 'margin-bottom: 0px; font-weight: 600'>$9</h4>
                <h4 class = 'headers_upsell show-normal-inline' style = 'margin-bottom: 0px; font-weight: 100; font-size: 40px;'>|</h4>
              </div>
              <div class = 'right-column-popup'>
                <h5 style = 'font-size: 25px; margin-top: 5px; margin-bottom: 0' class = 'headers_upsell show-normal-inline'>To-Go Whitening Pen</h5>
              </div>
            </div>
            <div style = 'width: 500px; display: inline-block; margin-bottom: 15px;'>
              <p>Like a Tide pen for your teeth. Perfect for quick touch-ups on the road, right before a date, interview or meeting.</p>
            </div>
            <div class = 'button-wrapper-upsell'>
              <button
                class="product-form__submit shopify-payment-button__button shopify-payment-button__button--unbranded upsell_buttons button"
                style = 'background-color: #46BDF0 !important;'
                onclick = 'add_pen()'       >
                 <span class = 'spacing'>
                     Add to Order
                 </span>
               </button>
               <button
                class="product-form__submit shopify-payment-button__button shopify-payment-button__button--unbranded upsell_buttons button"
                 style = 'color: #46BDF0; border: 1px solid #46BDF0; background-color: white !important;'
                 onclick = 'checkout()'      >
                 <span class = 'spacing'>
                     Skip
                 </span>
               </button>
            </div>
          </div>
          <div class = 'show_mobile-inline'>
            <div class = 'upsell-subheading-box'>
              <div class = 'left-column-popup'>
                <h3 class = 'headers_upsell show-mobile-inline' style = 'margin-bottom: 0px; font-weight: 600'>$9</h3>
                <h4 class = 'headers_upsell show-mobile-inline' style = 'margin-bottom: 0px; font-weight: 100; font-size: 40px;'>|</h4>
              </div>
              <div class = 'right-column-popup'>
                <h5 style = 'font-size: 25px; margin-top: 5px; margin-bottom: 0' class = 'headers_upsell show-mobile-inline'>To-Go Whitening Pen</h5>
              </div>
            </div>
            <div style = 'width: 340px; display: inline-block; margin-bottom: 15px;'>
              <p class = 'like-tide'>Like a Tide pen for your teeth. Perfect for quick touch-ups on the road, right before a date, interview or meeting.</p>
            </div>
            <div class = 'button-wrapper-upsell'>
              <button
                class="product-form__submit shopify-payment-button__button shopify-payment-button__button--unbranded upsell_buttons button"
                style = 'background-color: #46BDF0 !important;'
                onclick = 'add_pen()'       >
                 <span class = 'spacing'>
                     Add to Order
                 </span>
               </button>
               <button
                class="product-form__submit shopify-payment-button__button shopify-payment-button__button--unbranded upsell_buttons button"
                 style = 'color: #46BDF0; border: 1px solid #46BDF0; background-color: white !important;'
                 onclick = 'checkout()'      >
                 <span class = 'spacing'>
                     Skip
                 </span>
               </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div id = 'upsell_background' class = 'upsell-background-screen'>
      <div class = 'upsell-wrapper'>
        <div class = 'upsell-box'>
          <h2 class = 'headers_upsell show-normal-inline'>Complete The Set <span style= 'font-style: italic;'>Cancel Stains on the go.</span></h2>
          <h3 class = 'headers_upsell show-mobile-inline'>Complete The Set</h3>
          <div class = 'content-flex'>
           <img class = 'pen_image' src="https://cdn.shopify.com/s/files/1/0066/4728/3782/files/image_4.png?v=1647385882";>
          </div>
          <h3 class = 'headers_upsell show-normal-inline' style = 'color: white; margin-bottom: 0px'>To-Go Whitening Pen</h3>
          <h4 class = 'headers_upsell show-mobile-inline' style = 'color: white; margin-bottom: 0px'>To-Go Whitening Pen</h4>
          <div style = 'text-align:center;'>
            <div style = 'text-align: left; width: fit-content; display: inline-block'>
              <ul>
                <li class = 'spacing show-normal'>Everything you need for a bright smile that never dulls.</li>
                <li class = 'spacing show-mobile'>Everything you need for a bright smile that never dulls.</li>
                <li class = 'spacing show-normal'>Whitening kit includes a LED light and 3 personalized whitening gels.</li>
                <li class = 'spacing show-mobile'>Whitening kit includes a LED light and 3 personalized whitening gels.</li>
                <li class = 'spacing'>Dentist made, sensitivity-free teeth whitening powered by your phone.</li>
              </ul>
            </div>
          </div>
          <button
           class="product-form__submit shopify-payment-button__button shopify-payment-button__button--unbranded upsell_buttons button"
           style = 'color: #285ab1;'
           onclick = 'add_pen()'       >
            <span class = 'spacing'>
                Add to cart | $19
            </span>
          </button>
          <button
           class="product-form__submit shopify-payment-button__button shopify-payment-button__button--unbranded upsell_buttons button"
            style = 'color: red; margin-top: 10px;'
            onclick = 'checkout()'      >
            <span class = 'spacing'>
                No, thanks!
            </span>
          </button>
        </div>
      </div>
    </div>
    
    {%endif%}
    <script>
      // left: 37, up: 38, right: 39, down: 40,
      // spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
      var keys = {37: 1, 38: 1, 39: 1, 40: 1};

      function preventDefault(e) {
        e.preventDefault();
      }

      function preventDefaultForScrollKeys(e) {
        if (keys[e.keyCode]) {
          preventDefault(e);
          return false;
        }
      }

      // modern Chrome requires { passive: false } when adding event
      var supportsPassive = false;
      try {
        window.addEventListener("test", null, Object.defineProperty({}, 'passive', {
          get: function () { supportsPassive = true; } 
        }));
      } catch(e) {}

      var wheelOpt = supportsPassive ? { passive: false } : false;
      var wheelEvent = 'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';

      // call this to Disable
      function disableScroll() {
        window.addEventListener('DOMMouseScroll', preventDefault, false); // older FF
        window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
        window.addEventListener('touchmove', preventDefault, wheelOpt); // mobile
        window.addEventListener('keydown', preventDefaultForScrollKeys, false);
      }




      function checkout() {
        $('#real-submit-button').click()
        $('body').css("filter","none");
      }
      function openPopup() {
        $('#upsell_background').show()
        disableScroll()
      }
      function add_pen() {
        const strength_cookie = getCookie('strength')
        kit_formula_dict = {
          'medium': 42250643833057,
          'strong': 42250643865825,
          'weak': 42250643898593
        }
        
        pen_formula_dict = {
          'medium': 42210600812769,
          'strong': 42210600845537,
          'weak': 42210600878305
        }
      {% if product.handle == "at-home-whitening-kit" or product.handle == "at-home-whitening-kit-2" %}
        if (strength_cookie in pen_formula_dict) {
          formula_id = pen_formula_dict[strength_cookie]
        } else {
          formula_id = pen_formula_dict['medium']
        }
        pen = 
          {
           "id": formula_id,
           "quantity":  1,
           "selling_plan": 3450175713
    
          }
        {% else %}
        if (strength_cookie in kit_formula_dict) {
          formula_id = kit_formula_dict[strength_cookie]
        } else {
          formula_id = kit_formula_dict['medium']
        }
        pen = 
          {
           id: formula_id,
           "quantity":  1,
           "properties": {
                "shipping_interval_frequency": '1',
                "shipping_interval_unit_type": 'month',
                "charge_interval_frequency": '1',
                "charge_interval_unit_type": 'month'
           }
          }
        {% endif %}
        
        $.post('/cart/add.js', pen)
        .then(response => {
          $('#real-submit-button').click()
          $('body').css("filter","none");
        })
    
      }
      
    
      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
      }
    </script>
    <style>
          h2, h3, h4, h5 {
            text-transform: none;
          }
          .headers_upsell_main {
            margin-top: 10px;
          }
          .button-wrapper-upsell {
            background-color: #ECF8FE;
            border-top: 1px solid #46BDF0;
            padding: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
          .upsell_buttons {
              font-weight: 600; 
              border: none; 
              box-shadow: none !important;
              max-width: 250px;
              margin: auto;
              margin-bottom: 5px;
              display: block;
        }
          .headers_upsell {
             {% comment %} font-family: Futura; {% endcomment %}
              font-style: normal;
              font-weight: 400;
              padding: 10px;
              letter-spacing: -.045em;
        }
        .spacing {
              letter-spacing: .01em;
        }
        .upsell-box {
             width: 700px;
              height: 80vh;
              background-color: white;
              border-radius: 10px;
              text-align: center;
              display: flex;
              flex-flow: column;
              border: 1px solid #46BDF0;
        }
        .upsell-background-screen {
            width: 100vw; 
            height: 100vh; 
            position: fixed; 
            backdrop-filter: blur(6px);
            z-index: 100;
            display: none;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
        }
        .left-column-popup {
          width: 100px;
          float:left;
        }
        .right-column-popup {
          float: left;
        }
        .upsell-subheading-box {
          width: 450px;
          display: inline-block;
        }
        .upsell-wrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-top: 20px;
        }
        .pen_image {
            border-radius: 10px;
              display: inline-block;
              height: 100%;
        }
          .content-flex {
             flex: 1 1 auto; 
              overflow: hidden;
        }
      
          .show-normal {
             display: list-item 
        }
          .show-mobile {
             display: none 
        }
          .show-normal-inline {
             display: inline-block 
        }
          .show-mobile-inline {
             display: none 
        }
          @media screen and (max-width: 750px) {
              .upsell-box {
              width: 92vw;
              height: 80vh;
            }
              .upsell-wrapper {
              position: absolute;
              left: 50%;
              top: 20px;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
            }
              .show-normal {
                display: none 
            }
            .show-mobile {
                display: list-item  
            }
              .show-normal-inline {
                display: none
            }
            .show-mobile-inline {
                display: inline-block 
            }
            .like-tide {
              font-size: 12px;
              line-height: 18px;
            }
            .upsell-subheading-box {
              width: 350px;
            }
            .upsell_buttons {
              width: 90%
            }
        }
    </style>
    