<div id="replo-section-82491444-6cf5-4a48-b28e-8eb46f84b4c1" data-runtime-version="ba92a88c-0c13-11ee-ad18-56478270c5af" style="display:block !important;"><div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/57e49375-3a33-42e8-88b7-484104081682/82491444-6cf5-4a48-b28e-8eb46f84b4c1.min.js?v=ba92a88c-0c13-11ee-ad18-56478270c5af" id="https://replocdn.com/w/57e49375-3a33-42e8-88b7-484104081682/82491444-6cf5-4a48-b28e-8eb46f84b4c1.min.js?v=ba92a88c-0c13-11ee-ad18-56478270c5af"></script><style data-radium-styles="true">@media (max-width: 640px){ .rmq-d71cdcbc{display: flex !important;
padding-left: 16px !important;
padding-right: 16px !important;
padding-top: 24px !important;
padding-bottom: 24px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-bb20dcfa{display: flex !important;
padding-left: 30px !important;
padding-right: 30px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-c1936f55{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-cc200de8{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-3b132994{display: contents !important;
flex-basis: auto !important;
flex-shrink: 0 !important;
align-self: center !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-e5bd936{display: contents !important;
flex-basis: auto !important;
flex-shrink: 0 !important;
align-self: center !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-f1a67779{display: flex !important;
flex-basis: auto !important;
flex-shrink: 0 !important;
justify-content: center !important;
align-items: center !important;}}
@media (min-width: 1025px){ .rmq-27e54ec4{display: flex !important;
flex-basis: auto !important;
flex-shrink: 0 !important;
justify-content: center !important;
align-items: center !important;}}
@media (max-width: 640px){ .rmq-b7a7ba92{display: flex !important;
max-width: 700px !important;
align-self: center !important;
flex-direction: column-reverse !important;
grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
row-gap: 30px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 24px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-f3f202c6{display: flex !important;
max-width: 700px !important;
align-self: center !important;
flex-direction: column-reverse !important;
grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 24px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-ab991ea6{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 24px 24px !important;
--replo-gap: 24px !important;
position: relative !important;
flex-grow: 1 !important;}}
@media (min-width: 1025px){ .rmq-ba845e3b{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 24px 24px !important;
--replo-gap: 24px !important;
position: relative !important;
flex-grow: 1 !important;}}
@media (max-width: 640px){ .rmq-cd088c86{width: auto !important;
flex-grow: 1 !important;
flex-basis: auto !important;
padding-top: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
padding-bottom: 0px !important;
flex-shrink: 1 !important;
gap: 16px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-e8c0e83b{width: auto !important;
flex-grow: 1 !important;
flex-basis: auto !important;
flex-shrink: 1 !important;
gap: 16px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-ecf04cfe{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 16px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-82a5de3{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 16px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-f93e63c3{font-size: 24px !important;
line-height: 32px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-ee191701{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-1f47714{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-4a86ea09{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-409727c8{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 8px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-8f74086a{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 8px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-e2ae3b9f{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 8px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-59283e2{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 8px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-7d750a43{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-2a9c7be{margin-top: 0px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 20px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-6b85ddb0{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 20px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-e31a0a85{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 20px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-ede447b8{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 20px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-93680474{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 15px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-c08c6c56{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 15px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-b9a5a823{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 15px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-b989695e{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 15px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-f2b684bd{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-74be85ff{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-78bf3fea{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (min-width: 1025px){ .rmq-82b55d77{flex-shrink: 1 !important;
flex-basis: 0 !important;}}
@media (max-width: 640px){ .rmq-a3a1061f{display: flex !important;
flex-basis: auto !important;
flex-shrink: 0 !important;
justify-content: flex-start !important;
align-items: center !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-610973dd{display: flex !important;
flex-basis: auto !important;
flex-shrink: 0 !important;
justify-content: flex-start !important;
align-items: center !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-c5b7da48{display: flex !important;
flex-basis: auto !important;
flex-shrink: 0 !important;
justify-content: flex-start !important;
align-items: center !important;}}
@media (min-width: 1025px){ .rmq-117c2655{display: flex !important;
flex-basis: auto !important;
flex-shrink: 0 !important;
justify-content: flex-start !important;
align-items: center !important;}}
@media (max-width: 640px){ .rmq-7b575714{max-width: none !important;
row-gap: 24px !important;
display: grid !important;
column-gap: 6px !important;
margin-top: 8px !important;
grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 24px 6px !important;
--replo-gap: 6px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-5d340d3e{max-width: none !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 24px 16px !important;
--replo-gap: 16px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-61284f2{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 24px 16px !important;
--replo-gap: 16px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-f56f4b6f{flex-shrink: 0 !important;
flex-basis: auto !important;
gap: 24px 16px !important;
--replo-gap: 16px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-f32525ad{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 12px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-c70f34ef{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 12px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-3ed198fa{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 12px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-1f20a067{flex-shrink: 1 !important;
flex-basis: 0 !important;
gap: 12px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-1997b991{object-fit: cover !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-8a1ca093{object-fit: cover !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-553db1c6{object-fit: cover !important;}}
@media (min-width: 1025px){ .rmq-e8e4959b{object-fit: cover !important;}}
@media (max-width: 640px){ .rmq-af4de302{flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-efc62760{flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-b3c2b755{flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-ece055e8{flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-2d6d2f18{font-size: 16px !important;
line-height: 24px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-9bb6c93c{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-73e28289{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-98eef734{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-e1cf58f3{width: auto !important;
height: 300px !important;
flex-grow: unset !important;
align-self: stretch !important;
flex-basis: auto !important;
flex-shrink: 0 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-f0f246b6{width: auto !important;
height: 400px !important;
flex-grow: unset !important;
align-self: stretch !important;
flex-basis: auto !important;
flex-shrink: 0 !important;}}</style><div data-radium="true"><style id="snippet-styles" type="text/css">.alchemy-reset :host{all:initial}.alchemy-reset *{box-sizing:border-box}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset a:visited[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset del[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset em[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset s[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset strong[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset b[data-rid],.alchemy-reset u[data-rid],.alchemy-reset i[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{letter-spacing:inherit;margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset html[data-rid]::-webkit-scrollbar,.alchemy-reset body[data-rid]::-webkit-scrollbar,.alchemy-reset div[data-rid]::-webkit-scrollbar,.alchemy-reset span[data-rid]::-webkit-scrollbar,.alchemy-reset applet[data-rid]::-webkit-scrollbar,.alchemy-reset object[data-rid]::-webkit-scrollbar,.alchemy-reset iframe[data-rid]::-webkit-scrollbar,.alchemy-reset h1[data-rid]::-webkit-scrollbar,.alchemy-reset h2[data-rid]::-webkit-scrollbar,.alchemy-reset h3[data-rid]::-webkit-scrollbar,.alchemy-reset h4[data-rid]::-webkit-scrollbar,.alchemy-reset h5[data-rid]::-webkit-scrollbar,.alchemy-reset h6[data-rid]::-webkit-scrollbar,.alchemy-reset p[data-rid]::-webkit-scrollbar,.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,.alchemy-reset pre[data-rid]::-webkit-scrollbar,.alchemy-reset a[data-rid]::-webkit-scrollbar,.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,.alchemy-reset abbr[data-rid]::-webkit-scrollbar,.alchemy-reset acronym[data-rid]::-webkit-scrollbar,.alchemy-reset address[data-rid]::-webkit-scrollbar,.alchemy-reset big[data-rid]::-webkit-scrollbar,.alchemy-reset cite[data-rid]::-webkit-scrollbar,.alchemy-reset code[data-rid]::-webkit-scrollbar,.alchemy-reset del[data-rid]::-webkit-scrollbar,.alchemy-reset dfn[data-rid]::-webkit-scrollbar,.alchemy-reset em[data-rid]::-webkit-scrollbar,.alchemy-reset img[data-rid]::-webkit-scrollbar,.alchemy-reset picture[data-rid]::-webkit-scrollbar,.alchemy-reset ins[data-rid]::-webkit-scrollbar,.alchemy-reset kbd[data-rid]::-webkit-scrollbar,.alchemy-reset q[data-rid]::-webkit-scrollbar,.alchemy-reset s[data-rid]::-webkit-scrollbar,.alchemy-reset samp[data-rid]::-webkit-scrollbar,.alchemy-reset small[data-rid]::-webkit-scrollbar,.alchemy-reset strike[data-rid]::-webkit-scrollbar,.alchemy-reset strong[data-rid]::-webkit-scrollbar,.alchemy-reset sub[data-rid]::-webkit-scrollbar,.alchemy-reset sup[data-rid]::-webkit-scrollbar,.alchemy-reset tt[data-rid]::-webkit-scrollbar,.alchemy-reset var[data-rid]::-webkit-scrollbar,.alchemy-reset b[data-rid]::-webkit-scrollbar,.alchemy-reset u[data-rid]::-webkit-scrollbar,.alchemy-reset i[data-rid]::-webkit-scrollbar,.alchemy-reset center[data-rid]::-webkit-scrollbar,.alchemy-reset dl[data-rid]::-webkit-scrollbar,.alchemy-reset dt[data-rid]::-webkit-scrollbar,.alchemy-reset dd[data-rid]::-webkit-scrollbar,.alchemy-reset ol[data-rid]::-webkit-scrollbar,.alchemy-reset ul[data-rid]::-webkit-scrollbar,.alchemy-reset li[data-rid]::-webkit-scrollbar,.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,.alchemy-reset form[data-rid]::-webkit-scrollbar,.alchemy-reset label[data-rid]::-webkit-scrollbar,.alchemy-reset legend[data-rid]::-webkit-scrollbar,.alchemy-reset table[data-rid]::-webkit-scrollbar,.alchemy-reset caption[data-rid]::-webkit-scrollbar,.alchemy-reset tbody[data-rid]::-webkit-scrollbar,.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,.alchemy-reset thead[data-rid]::-webkit-scrollbar,.alchemy-reset tr[data-rid]::-webkit-scrollbar,.alchemy-reset th[data-rid]::-webkit-scrollbar,.alchemy-reset td[data-rid]::-webkit-scrollbar,.alchemy-reset article[data-rid]::-webkit-scrollbar,.alchemy-reset aside[data-rid]::-webkit-scrollbar,.alchemy-reset canvas[data-rid]::-webkit-scrollbar,.alchemy-reset details[data-rid]::-webkit-scrollbar,.alchemy-reset embed[data-rid]::-webkit-scrollbar,.alchemy-reset figure[data-rid]::-webkit-scrollbar,.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,.alchemy-reset footer[data-rid]::-webkit-scrollbar,.alchemy-reset header[data-rid]::-webkit-scrollbar,.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,.alchemy-reset menu[data-rid]::-webkit-scrollbar,.alchemy-reset nav[data-rid]::-webkit-scrollbar,.alchemy-reset output[data-rid]::-webkit-scrollbar,.alchemy-reset ruby[data-rid]::-webkit-scrollbar,.alchemy-reset section[data-rid]::-webkit-scrollbar,.alchemy-reset summary[data-rid]::-webkit-scrollbar,.alchemy-reset time[data-rid]::-webkit-scrollbar,.alchemy-reset mark[data-rid]::-webkit-scrollbar,.alchemy-reset audio[data-rid]::-webkit-scrollbar,.alchemy-reset video[data-rid]::-webkit-scrollbar,.alchemy-reset button[data-rid]::-webkit-scrollbar,.alchemy-reset select[data-rid]::-webkit-scrollbar,.alchemy-reset [data-rid]>p::-webkit-scrollbar{display:none}.alchemy-reset button[data-rid]{align-items:normal}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{font-style:inherit;text-decoration:inherit;color:inherit;background-color:transparent}.alchemy-reset .alchemy-rte a,.alchemy-reset .alchemy-rte p,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte h1,.alchemy-reset .alchemy-rte h2,.alchemy-reset .alchemy-rte h3,.alchemy-reset .alchemy-rte mark{font-style:inherit;font-family:inherit;text-decoration:inherit;text-align:inherit;text-transform:inherit;color:inherit;line-height:inherit;letter-spacing:inherit;margin:0;padding:0;border:0;font-weight:inherit;vertical-align:baseline;font-size:100%;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset .alchemy-rte a::-webkit-scrollbar,.alchemy-reset .alchemy-rte p::-webkit-scrollbar,.alchemy-reset .alchemy-rte s::-webkit-scrollbar,.alchemy-reset .alchemy-rte u::-webkit-scrollbar,.alchemy-reset .alchemy-rte b::-webkit-scrollbar,.alchemy-reset .alchemy-rte i::-webkit-scrollbar,.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,.alchemy-reset .alchemy-rte mark::-webkit-scrollbar{display:none}.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte strong,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte em,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del,.alchemy-reset .alchemy-rte li,.alchemy-reset .alchemy-rte span{font-family:inherit}.alchemy-reset .alchemy-rte u{text-decoration:underline}.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del{text-decoration:line-through}.alchemy-reset .alchemy-rte i{font-style:italic}.alchemy-reset .alchemy-rte b{font-weight:700}.alchemy-reset .alchemy-rte ul,.alchemy-reset .alchemy-rte li{list-style:inherit;padding-left:1.7em}.alchemy-reset .alchemy-rte code{background-color:#6161611a;color:#616161}.alchemy-reset .alchemy-rte pre{background:#0d0d0d;color:#fff;font-family:JetBrainsMono,monospace;padding:.75rem 1rem;border-radius:.5rem}.alchemy-reset .alchemy-rte pre code{color:inherit;padding:0;background:none;font-size:.8rem}.alchemy-reset .alchemy-rte img{max-width:100%;height:auto}.alchemy-reset .alchemy-rte blockquote{padding-left:1rem;border-left:2px solid rgba(13,13,13,.1)}.alchemy-reset .alchemy-rte hr{border:none;border-top:2px solid rgba(13,13,13,.1);margin:2rem 0}.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset details[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset section[data-rid]{display:block}.alchemy-reset body{line-height:1}.alchemy-reset blockquote,.alchemy-reset q{quotes:none;margin:0;padding:0;border:0}.alchemy-reset blockquote:before,.alchemy-reset blockquote:after,.alchemy-reset q:before,.alchemy-reset q:after{content:"";content:none}.alchemy-reset table{border-collapse:collapse;border-spacing:0}.alchemy-reset button>picture,.alchemy-reset button>img,.alchemy-reset a>picture,.alchemy-reset a>img{display:flex}#replo-fullpage-element{max-width:100vw;flex-grow:1;align-self:stretch}.outline--blue{outline:2px solid #2563eb}.strike:after{content:"";border-bottom:3px solid black;position:absolute;left:0;top:calc(50% - 3px);width:100%}.ReactModal__Overlay--after-open{opacity:1;transform:translateY(0)}.ReactModal__Overlay--before-close{opacity:0;transform:translateY(100px)}.replo-modal-after-open{overflow-y:hidden!important}.carouselV3--slide-reset{max-width:none!important}.carouselV3-no-transition{transition:none}.carouselV3-fade-transition{transition:opacity 1s}.carouselV3-hidden-slide{transition:opacity 1s;opacity:0}.carouselV3-visible-slide{transition:opacity 1s;opacity:1}.splide li{padding:0!important;margin:0}.splide li:before{display:none!important}.splide .splide__list{overflow:visible!important}@keyframes alchemy-marquee-left{0%{transform:translate(0)}to{transform:translate(-5%)}}@keyframes alchemy-marquee-right{0%{transform:translate(-50%)}to{transform:translate(-45%)}}@keyframes alchemy-fade{0%{opacity:var(--initial-opacity)}to{opacity:var(--final-opacity)}}@keyframes alchemy-slide-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes alchemy-slide-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset))}to{opacity:var(--final-opacity);transform:translate(0)}}@keyframes alchemy-flip-y{0%{opacity:var(--initial-opacity);transform:rotateY(var(--angle))}to{opacity:var(--final-opacity);transform:rotateY(0)}}@keyframes alchemy-flip-x{0%{opacity:var(--initial-opacity);transform:rotateX(var(--angle))}to{opacity:var(--final-opacity);transform:rotateX(0)}}@keyframes alchemy-grow{0%{opacity:var(--initial-opacity);transform:scale(var(--initial-scale))}to{opacity:var(--final-opacity);transform:scale(var(--final-scale))}}@keyframes alchemy-spin{0%{opacity:var(--initial-opacity);transform:rotate(var(--initial-angle))}to{opacity:var(--final-opacity);transform:rotate(var(--final-angle))}}@keyframes alchemy-fly-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translateY(0) scale(1)}}@keyframes alchemy-fly-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translate(0) scale(1)}}@keyframes alchemy-drop{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes replo-spin{to{transform:rotate(360deg)}}.replo-animate-spinner{animation:replo-spin 1s linear infinite}[data-replo-collapsible] .replo-animated{overflow:hidden}[data-replo-collapsible] .replo-animated[data-state=open]{animation:slideDown .2s cubic-bezier(.4,0,.2,1)}[data-replo-collapsible] .replo-animated[data-state=closed]{animation:slideUp .2s cubic-bezier(.4,0,.2,1)}@keyframes slideDown{0%{height:0}to{height:var(--radix-collapsible-content-height)}}@keyframes slideUp{0%{height:var(--radix-collapsible-content-height)}to{height:0}}
</style><style id="alchemy-runtime-css">
    body {
      overflow-y: visible !important;
    }
      
     </style><style>@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900;950)</style><div class="alchemy__element alchemy-reset"><div data-rid="39d90c02-042e-4da2-ace8-ca3a70589677" data-replo-repeated-index=".0" style="color:#000000FF;display:flex;max-width:100%;align-self:stretch;align-items:center;font-family:Inter, sans-serif;padding-top:64px;padding-left:40px;padding-right:40px;flex-direction:column;padding-bottom:88px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-d71cdcbc rmq-bb20dcfa rmq-c1936f55 rmq-cc200de8" data-radium="true"><div style="display:flex;flex-basis:auto;flex-shrink:0;align-self:stretch;width:100%;justify-content:center;align-items:center" class="rmq-3b132994 rmq-e5bd936 rmq-f1a67779 rmq-27e54ec4" data-rid="1" data-radium="true"><div data-rid="e4750dcf-7292-4d53-aba6-41a14fff5282" data-replo-repeated-index=".0.0" style="width:100%;row-gap:24px;display:grid;max-width:1312px;align-self:stretch;column-gap:24px;align-items:center;justify-content:center;grid-template-columns:repeat(2, minmax(0, 1fr));flex-shrink:1;flex-basis:0;gap:24px 24px;--replo-gap:24px;position:relative;flex-grow:1;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-b7a7ba92 rmq-f3f202c6 rmq-ab991ea6 rmq-ba845e3b" data-radium="true"><div data-rid="288395c1-bc43-4493-b3e6-e72904c04de9" data-replo-repeated-index=".0.0.0" style="display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:flex-start;padding-top:30px;padding-left:20px;padding-right:20px;flex-direction:column;padding-bottom:30px;justify-content:center;flex-shrink:1;flex-basis:0;gap:16px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-cd088c86 rmq-e8c0e83b rmq-ecf04cfe rmq-82a5de3" data-radium="true"><div data-rid="bd9f5080-0e78-4ae7-94ba-1b36a3a37ebc" data-replo-repeated-index=".0.0.0.0" class="rmq-f93e63c3 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:36px;align-self:stretch;font-weight:600;line-height:40px;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Testing this for product page!</p></span></div><div data-rid="6ff1e1b2-db86-47b7-bb7c-e29ed685f088" data-replo-repeated-index=".0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:flex-start;flex-shrink:0;flex-basis:auto;gap:8px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-409727c8 rmq-8f74086a rmq-e2ae3b9f rmq-59283e2" data-radium="true"><div data-rid="9548cab9-248d-43c0-a837-da9382988798" data-replo-repeated-index=".0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;align-self:stretch;font-weight:600;line-height:24px;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>WHY IT’S MAGICAL:</p></span></div><div data-rid="93ec0789-0939-4586-aea1-0c502e3c0af4" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:flex-start;flex-shrink:0;flex-basis:auto;gap:20px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-2a9c7be rmq-6b85ddb0 rmq-e31a0a85 rmq-ede447b8" data-radium="true"><div data-rid="ed206621-2baa-43b9-b339-661790ad8fd9" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:flex-start;flex-shrink:0;flex-basis:auto;gap:15px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-93680474 rmq-c08c6c56 rmq-b9a5a823 rmq-b989695e" data-radium="true"><div data-rid="a04e75d0-683b-4c39-86f6-1dc20306436a" data-replo-repeated-index=".0.0.0.0.0.0.0" style="width:20px;height:20px;flex-shrink:0;flex-basis:auto;line-height:100%" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-testid="icon-checkCircleFill" data-radium="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" style="width:var(--rsw, 100%);height:100%"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="c26f1bde-7bb6-4772-9b49-ff3d6299d48f" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77 alchemy-rte" style="flex-grow:1;font-size:16px;font-weight:400;line-height:24px;flex-shrink:1;flex-basis:0" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>It can grant you any wish you desire.</p></span></div></div><div data-rid="2d13e223-1a98-408e-b75f-08a6b4526397" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:flex-start;flex-shrink:0;flex-basis:auto;gap:15px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-93680474 rmq-c08c6c56 rmq-b9a5a823 rmq-b989695e" data-radium="true"><div data-rid="45eaa612-39f1-40c9-9859-6f618cee4de8" data-replo-repeated-index=".0.0.0.0.0.0.0" style="width:20px;height:20px;flex-shrink:0;flex-basis:auto;line-height:100%" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-testid="icon-checkCircleFill" data-radium="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" style="width:var(--rsw, 100%);height:100%"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="028b1623-0cbd-43ab-a08a-2df4a01bdcb8" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77 alchemy-rte" style="flex-grow:1;font-size:16px;font-weight:400;line-height:24px;flex-shrink:1;flex-basis:0" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>It can create an infinite supply of money and other resources.</p></span></div></div><div data-rid="6b82893d-265b-4697-9995-1866b00f384a" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:flex-start;flex-shrink:0;flex-basis:auto;gap:15px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-93680474 rmq-c08c6c56 rmq-b9a5a823 rmq-b989695e" data-radium="true"><div data-rid="6b9fbfc5-8c5b-490a-9e5a-2ab2017a51d6" data-replo-repeated-index=".0.0.0.0.0.0.0" style="width:20px;height:20px;flex-shrink:0;flex-basis:auto;line-height:100%" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-testid="icon-checkCircleFill" data-radium="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" style="width:var(--rsw, 100%);height:100%"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="d6afe577-9408-4017-adac-8cbc1cf4e641" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77 alchemy-rte" style="flex-grow:1;font-size:16px;font-weight:400;line-height:24px;flex-shrink:1;flex-basis:0" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>It can help you to achieve your goals more quickly and easily.</p></span></div></div><div data-rid="a1f24dc3-56f3-44c5-a67a-e97874a9b38a" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:flex-start;flex-shrink:0;flex-basis:auto;gap:15px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-93680474 rmq-c08c6c56 rmq-b9a5a823 rmq-b989695e" data-radium="true"><div data-rid="7e9a73ef-ee88-431a-bbe9-dc37fa891053" data-replo-repeated-index=".0.0.0.0.0.0.0" style="width:20px;height:20px;flex-shrink:0;flex-basis:auto;line-height:100%" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-testid="icon-checkCircleFill" data-radium="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" style="width:var(--rsw, 100%);height:100%"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="fc4911e0-e354-4378-b864-6ef9399ca211" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77 alchemy-rte" style="flex-grow:1;font-size:16px;font-weight:400;line-height:24px;flex-shrink:1;flex-basis:0" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>It can provide you with guidance, direction, and wisdom.</p></span></div></div><div data-rid="9e1ac874-7136-4912-a82b-3558a957f685" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:flex-start;flex-shrink:0;flex-basis:auto;gap:15px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-93680474 rmq-c08c6c56 rmq-b9a5a823 rmq-b989695e" data-radium="true"><div data-rid="19739414-9d67-4f70-97af-d876190245cc" data-replo-repeated-index=".0.0.0.0.0.0.0" style="width:20px;height:20px;flex-shrink:0;flex-basis:auto;line-height:100%" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-testid="icon-checkCircleFill" data-radium="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" style="width:var(--rsw, 100%);height:100%"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="06e8a560-dec1-453d-8191-4a10a61f3255" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-f2b684bd rmq-74be85ff rmq-78bf3fea rmq-82b55d77 alchemy-rte" style="flex-grow:1;font-size:16px;font-weight:400;line-height:24px;flex-shrink:1;flex-basis:0" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>It can help you to better understand yourself.</p></span></div></div></div></div><div style="display:flex;flex-basis:auto;flex-shrink:0;align-self:center;width:100%;justify-content:flex-start;align-items:center" class="rmq-a3a1061f rmq-610973dd rmq-c5b7da48 rmq-117c2655" data-rid="1" data-radium="true"><div data-rid="debdf14b-5e95-4412-b773-7b2023c58942" data-replo-repeated-index=".0.0.0.0" style="width:100%;row-gap:24px;display:grid;align-self:center;column-gap:16px;margin-top:20px;align-items:center;justify-content:center;grid-template-columns:repeat(4, minmax(0, 1fr));flex-shrink:0;flex-basis:auto;gap:24px 16px;--replo-gap:16px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-7b575714 rmq-5d340d3e rmq-61284f2 rmq-f56f4b6f" data-radium="true"><div data-rid="465efdbf-9756-4772-872f-ce942c15373a" data-replo-repeated-index=".0.0.0.0.0" style="width:100%;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:flex-start;flex-shrink:1;flex-basis:0;gap:12px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-f32525ad rmq-c70f34ef rmq-3ed198fa rmq-1f20a067" data-radium="true"><picture data-rid="30356043-13b1-43ff-a6e7-ee6a2798e009" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-direction:column;overflow:hidden;flex-grow:1;max-width:64px;max-height:64px;object-fit:cover;flex-shrink:1;flex-basis:auto" class="rmq-af4de302 rmq-efc62760 rmq-b3c2b755 rmq-ece055e8" data-radium="true"><img src="https://andytown-public.s3.amazonaws.com/templates/component-templates/replo-ui/Icon_a_5.png%3Fv%3D1679314601" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="a9a5ce5e-cf11-4b99-a5ff-6c00cbba2d43" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2d6d2f18 rmq-9bb6c93c rmq-73e28289 rmq-98eef734 alchemy-rte" style="font-size:18px;align-self:stretch;text-align:center;font-weight:500;line-height:28px;text-align-last:center;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Unicorn Horn </p></span></div></div><div data-rid="f4eb2597-225b-40ae-bbf7-92d3b6f7ebdf" data-replo-repeated-index=".0.0.0.0.0" style="width:100%;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:flex-start;flex-shrink:1;flex-basis:0;gap:12px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-f32525ad rmq-c70f34ef rmq-3ed198fa rmq-1f20a067" data-radium="true"><picture data-rid="e9982c79-d7fa-45a4-840e-c4c08fb13567" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-direction:column;overflow:hidden;flex-grow:1;max-width:64px;max-height:64px;object-fit:cover;flex-shrink:1;flex-basis:auto" class="rmq-af4de302 rmq-efc62760 rmq-b3c2b755 rmq-ece055e8" data-radium="true"><img src="https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/replo-ui/Icon_a_5_2.png%3Fv%3D1679315263" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="830d9728-d00c-466f-80f4-12434733e988" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2d6d2f18 rmq-9bb6c93c rmq-73e28289 rmq-98eef734 alchemy-rte" style="font-size:18px;align-self:stretch;text-align:center;font-weight:500;line-height:28px;text-align-last:center;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Dragon Scale</p></span></div></div><div data-rid="f4a65cb2-5c6e-4ef2-8026-adcd1693ff37" data-replo-repeated-index=".0.0.0.0.0" style="width:100%;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:flex-start;flex-shrink:1;flex-basis:0;gap:12px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-f32525ad rmq-c70f34ef rmq-3ed198fa rmq-1f20a067" data-radium="true"><picture data-rid="dbfcb603-b741-4963-a02c-d8252afaa6ad" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-direction:column;overflow:hidden;flex-grow:1;max-width:64px;max-height:64px;object-fit:cover;flex-shrink:1;flex-basis:auto" class="rmq-af4de302 rmq-efc62760 rmq-b3c2b755 rmq-ece055e8" data-radium="true"><img src="https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/replo-ui/Icon_a_5_3.png%3Fv%3D1679315323" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="702a3c5f-18e1-4b66-a90f-ba7dd40f0bae" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2d6d2f18 rmq-9bb6c93c rmq-73e28289 rmq-98eef734 alchemy-rte" style="font-size:18px;align-self:stretch;text-align:center;font-weight:500;line-height:28px;text-align-last:center;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Crystal Ball</p></span></div></div><div data-rid="a01e8ce7-5b64-4ad4-bd94-1292fcde3fda" data-replo-repeated-index=".0.0.0.0.0" style="width:100%;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:flex-start;flex-shrink:1;flex-basis:0;gap:12px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-f32525ad rmq-c70f34ef rmq-3ed198fa rmq-1f20a067" data-radium="true"><picture data-rid="7420999e-f72b-4642-adc0-717e4f100f0f" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-direction:column;overflow:hidden;flex-grow:1;max-width:64px;max-height:64px;object-fit:cover;flex-shrink:1;flex-basis:auto" class="rmq-af4de302 rmq-efc62760 rmq-b3c2b755 rmq-ece055e8" data-radium="true"><img src="https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/replo-ui/lamp.png%3Fv%3D1680500249" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="44c631e4-a713-4c35-9eaa-cbec5e8b437e" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2d6d2f18 rmq-9bb6c93c rmq-73e28289 rmq-98eef734 alchemy-rte" style="font-size:18px;align-self:stretch;text-align:center;font-weight:500;line-height:28px;text-align-last:center;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Genie Lamp</p></span></div></div><div data-rid="f388a7e2-7a3f-49a7-93d9-d546548d3766" data-replo-repeated-index=".0.0.0.0.0" style="width:100%;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:flex-start;flex-shrink:1;flex-basis:0;gap:12px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-f32525ad rmq-c70f34ef rmq-3ed198fa rmq-1f20a067" data-radium="true"><picture data-rid="49f8c0cd-61cb-4c5a-9221-9e2f2a211eac" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-direction:column;overflow:hidden;flex-grow:1;max-width:64px;max-height:64px;object-fit:cover;flex-shrink:1;flex-basis:auto" class="rmq-af4de302 rmq-efc62760 rmq-b3c2b755 rmq-ece055e8" data-radium="true"><img src="https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/replo-ui/Icon_a_5_4.png%3Fv%3D1679315363" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="6a1d5527-d457-4b83-b274-89fac098d8c5" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2d6d2f18 rmq-9bb6c93c rmq-73e28289 rmq-98eef734 alchemy-rte" style="font-size:18px;align-self:stretch;text-align:center;font-weight:500;line-height:28px;text-align-last:center;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Flying Carpet</p></span></div></div><div data-rid="1b846547-7c48-4893-9d4f-1a5a441c853f" data-replo-repeated-index=".0.0.0.0.0" style="width:100%;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:flex-start;flex-shrink:1;flex-basis:0;gap:12px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-f32525ad rmq-c70f34ef rmq-3ed198fa rmq-1f20a067" data-radium="true"><picture data-rid="01597dc2-f005-480c-bd91-c028b704b949" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-direction:column;overflow:hidden;flex-grow:1;max-width:64px;max-height:64px;object-fit:cover;flex-shrink:1;flex-basis:auto" class="rmq-af4de302 rmq-efc62760 rmq-b3c2b755 rmq-ece055e8" data-radium="true"><img src="https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/replo-ui/Icon_a_5_5.png%3Fv%3D1679315404" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="887c8a61-24c7-4791-8372-54ca136c8ba9" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2d6d2f18 rmq-9bb6c93c rmq-73e28289 rmq-98eef734 alchemy-rte" style="font-size:18px;align-self:stretch;text-align:center;font-weight:500;line-height:28px;text-align-last:center;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Time-Turner</p></span></div></div><div data-rid="50fbca12-61d7-4a5e-9641-ecdcfd7f904c" data-replo-repeated-index=".0.0.0.0.0" style="width:100%;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:flex-start;flex-shrink:1;flex-basis:0;gap:12px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-f32525ad rmq-c70f34ef rmq-3ed198fa rmq-1f20a067" data-radium="true"><picture data-rid="9ca6fc13-e588-4878-a9ff-111075e88bea" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-direction:column;overflow:hidden;flex-grow:1;max-width:64px;max-height:64px;object-fit:cover;flex-shrink:1;flex-basis:auto" class="rmq-af4de302 rmq-efc62760 rmq-b3c2b755 rmq-ece055e8" data-radium="true"><img src="https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/replo-ui/icon_a_5_6.png%3Fv%3D1679315446" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="14043b36-d1d6-40d7-9915-dd4f857e51c3" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2d6d2f18 rmq-9bb6c93c rmq-73e28289 rmq-98eef734 alchemy-rte" style="font-size:18px;align-self:stretch;text-align:center;font-weight:500;line-height:28px;text-align-last:center;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Spellbook</p></span></div></div><div data-rid="894db3a0-fdc0-46a2-833a-a4d0d5d052f2" data-replo-repeated-index=".0.0.0.0.0" style="width:100%;display:flex;flex-grow:1;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:flex-start;flex-shrink:1;flex-basis:0;gap:12px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-f32525ad rmq-c70f34ef rmq-3ed198fa rmq-1f20a067" data-radium="true"><picture data-rid="c8c65f46-166a-4c64-85e9-39b7420bbe66" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-direction:column;overflow:hidden;flex-grow:1;max-width:64px;max-height:64px;object-fit:cover;flex-shrink:1;flex-basis:auto" class="rmq-af4de302 rmq-efc62760 rmq-b3c2b755 rmq-ece055e8" data-radium="true"><img src="https://andytown-public.s3.us-west-1.amazonaws.com/templates/component-templates/replo-ui/mirror.png%3Fv%3D1680500384" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="5ccd132b-93a6-4aeb-beee-5305bff81621" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2d6d2f18 rmq-9bb6c93c rmq-73e28289 rmq-98eef734 alchemy-rte" style="font-size:18px;align-self:stretch;text-align:center;font-weight:500;line-height:28px;text-align-last:center;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Magic Mirror</p></span></div></div></div></div></div><div data-rid="6d55569c-9077-4ef3-9a04-114acb456748" data-replo-repeated-index=".0.0.0" style="flex-grow:1;align-self:stretch;flex-shrink:1;flex-basis:0" class="rmq-e1cf58f3 rmq-f0f246b6 rmq-78bf3fea rmq-82b55d77" data-radium="true"><iframe width="100%" height="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAwkDMT0B6J-3sx7HTXqwi-GybfxK4t_x8&amp;q=Berkeley%2C%20CA"></iframe></div></div></div></div></div></div></div></div>
        {% schema %}
        {
        "name": "replo-product-test",
        "presets":[{
            "name": "replo-product-test"
        }]
        }
        {% endschema %}
        