
    
    <div id="replo-section-893a1c4a-9669-4a07-96f6-ce9b50558a82" data-runtime-version="2ed7c4a0-d4ac-11ee-9709-0d15b1f48ed6" style="display:block !important;">{% include "reploChunk.893a1c4a-9669-4a07-96f6-ce9b50558a82.0" %}{% include "reploChunk.893a1c4a-9669-4a07-96f6-ce9b50558a82.1" %}</div>
    
{% schema %}
{
  "name": "journey-boxes",
  "presets": [
    {
      "name": "journey-boxes"
    }
  ]
}
{% endschema %}
    
  