
    
    <div id="replo-section-893a1c4a-9669-4a07-96f6-ce9b50558a82" data-runtime-version="9fa7df30-d4a7-11ee-b1bc-6db93b42dfe7" style="display:block !important;">{% include "reploChunk.893a1c4a-9669-4a07-96f6-ce9b50558a82.0" %}{% include "reploChunk.893a1c4a-9669-4a07-96f6-ce9b50558a82.1" %}</div>
    
{% schema %}
{
  "name": "journey-boxes",
  "presets": [
    {
      "name": "journey-boxes"
    }
  ]
}
{% endschema %}
    
  