/* refill formula stuff */

.refill-formula-radio-group {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

.refill-formula-radio-group input[type="radio"] {
  display: none;
}

.refill-formula-radio-group label {
  display: inline-block;
  padding: 12px 14px;
  background-color: white;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  color: #64748b;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
}

.price-difference {
  font-size: 0.75rem;
  opacity: 0.75;
  margin-top: -5px;
  color: inherit;
  position: absolute;
}

.refill-formula-radio-group label:hover {
  background-color: #f1f5f9;
}

.refill-formula-radio-group input[type="radio"]:checked + label {
  background-color: var(--blue) !important;
  color: white;
  border-color:  #23a5dd !important;
}

.refill-formula-radio-group input[type="radio"]:focus + label {
  outline: 2px solid #23a5dd;
  outline-offset: 2px;
}

@media screen and (max-width: 450px) {
  .refill-formula-radio-group {
    padding: 0;
  }
}

@media screen and (max-width: 415px) {
  .refill-formula-radio-group {
    font-size: 14px;
  }
}

@media screen and (max-width: 383px) {
  .refill-formula-radio-group {
    font-size: 12px;
  }
}

/* product details */

.product__details {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .product__details {
    margin-top: 40px;
  }
}

.product__details-inner {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.product__detail-item {
  width: 100%;
  padding: 18px 0;
  border-bottom: 1px solid #CFD3DA;
}

.product__detail-item:last-of-type,
.product__detail-item:nth-last-of-type(2){
  border-bottom: 1px solid transparent;
}

.product__detail-item:nth-of-type(odd) {
  padding-right: 18px;
  border-right: 1px solid #CFD3DA;
}

.product__detail-item:nth-of-type(even) {
  padding-left: 18px;
  border-left: 1px solid #CFD3DA;
}

.product__detail-item .emoji {
  font-size: 25px;
  margin-right: 5px;
}