.rc-widget-injection-parent .landing-radio__label {
  display: flex!important; /*had*/
  flex-direction: row!important;
  align-items: center!important;
  font-weight: 500!important;
  position: relative!important;
  line-height: normal!important;
  min-height: 27.5px!important;
  margin-left: 0!important;
  cursor: pointer!important;
}