.landing-page-main {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.rc-template__legacy-radio .rc-radio {
  white-space: normal;
}
.canela {
    font-family: canela
}
.product-landing-header {
    background-color: #C2F0FF;
    padding: 80px 0 20px;
    text-align: center;
}

.shopify-section-sticky-footer {
    display: none !important;
    opacity: 0 !important;
}

.sticky-footer__button {
    display: none !important;
    opacity: 0 !important;
}

.product-header-wrapper {
    max-width: 900px;
    display: inline-block;
    position: relative;
}

.header__logo {
    display: none; /* TO REMOVE LAUGHLAND LOGO */
}

.product-landing-header .formula-point-wrapper {
    display: flex
}

.product-landing-header .formula-point {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* flex-basis: 0; */
    justify-content: center;
}

.product-landing-header .formula-point-middle {
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-grow: 1;
    /* flex-basis: 0; */
    justify-content: center;
}

.powered {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-top: -60px; /* TO REMOVE LAUGHLAND LOGO */
}

.perfect-match {
    font-family: canela;
    font-size: 55px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.02em;
    text-align: center;
    padding-top: 20px;
}

.landing-subheading-1 {
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.landing-subheading-2 {
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.checked-landing {
  color: #46BDF0;
}

.pen-big {
    display:block;
    bottom: 0;
    position: absolute;
    right: 0;
}

.pen-small {
    display:none;
    bottom: 0;
    position: absolute;
    right: 0;
}

.top_z {
    position:relative;
    z-index: 5;
}

.formula-point-wrapper {
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .landing-page-main {
        font-size: 14px;
        line-height: 21px;
    }

    .landing-stars {
        font-size: 14px;
        line-height: 21px;
    }
    .perfect-match {
        font-size: 30px;
    }
    .landing-subheading-1 {
        /* font-size: 14px; */
        color: #FF9F2F;
    }
    .landing-subheading-2 {
        /* font-size: 14px; */
    }
    .pen-big {
        display:none;
    }
    
    .pen-small {
        display:block;
    }
}

/* --------------------- PRODUCT DESCRIPTOR RIGHT  -------------------------------*/



.selling-point-text {
    text-align: left;
}

/* ---------------------INGREDIENTS BOX -------------------------------*/


.product-landing-ingredient-wrapper {
    display: flex;
    padding: 20px 0;
}

.product-landing-ingredient {
    flex: 1;
}

.product-landing-ingredient-block {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align:center
}

.ingredient-box-ingredient {
    font-size: 13px;
    flex:1
}

.ingredient-box-percent {
    font-size: 24px;
    font-weight: 500;
}

.ingredient-box-function {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-weight: 300;
}

.ingredient-top-wrapper {
    display: flex;
    padding-bottom: 15px;
    text-align: right;
    align-items: center;
}

@media screen and (max-width: 860px) {
    .ingredient-top-wrapper {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .product__title {
        font-size: 35px;
    }
    .product-landing-ingredient-block {
        padding: 5px;
        padding-left: 0;
        padding-right: 0;
    }
    .ingredient-box-function {
        font-size: 13px;
    }
    .ingredient-box-ingredient {
        font-size: 11px;
        text-align:center;
    }
  }

/* ---------------------ECLIPSE -------------------------------*/

.eclipse-wrapper {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.eclipse-item {
    flex: 1;
    text-align:center;
    display: flex;
    flex-direction: column;
}

.eclipse-icon {
    text-align: center;
}

.eclipse-image {
    display: inline-block
}

.eclipse-text {
    margin-top: -62px;
    font-weight: 500;
    font-size: 35px;
}

.eclipse-percent {
    font-size: 20px;
    vertical-align: middle;
}

.eclipse-text-explainer {
    font-weight: 500;
    text-align: center;
    display: inline-block;
    max-width: 215px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}


/* .carousel {
    margin: 0 !important;
} */

@media screen and (max-width: 768px) {
    .eclipse-wrapper {
        flex-direction: column;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .eclipse-item {
        flex-direction: row;
        padding-bottom: 20px;
        align-items: center;
    }
    .eclipse-item-2 {
        padding-bottom: 30px;
    }
    .eclipse-text-explainer {
        max-width: none;
        text-align: left;
        margin-left: 10px;
        margin-top: 30px;
    }
}

/* --------------------- RECHARGE SELECTOR -------------------------------*/

.offer-button {
    display:inline-block; 
    background-color: #FF9F2F; 
    width: 100%; 
    max-width: 160px;
    border-radius:20px
}

.offer-button-text {
    text-align: center; 
    font-family: Plus Jakarta Sans; 
    font-size: 11px; 
    color: white
}

.offer-name-1 {
    max-width: 130px; 
    padding-left:0
}

.offer-name-2 {
    max-width: 170px;
}

#updated-price-big {
    display:  block;
}
#updated-price-small {
    display: none;
}
.mobile-offer-wrapper { 
    display: none;
}

.formula-point-text {
    font-weight: 500;
    text-align: center;
}

.mid-offer-list {
    font-size: 14px;
    font-weight: 400;
    padding-top: 0 !important;
}

.satisfaction_guarantee {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 21px;
}

.satisfaction_guarantee svg {
    width: 23px;
    margin-right: 10px;
}

.guarantees_wrapper {
    display:flex; 
    margin-top: 15px; 
    justify-content: space-between;
    /* border-top: 1px solid var(--navy); */
    padding-top: 15px;
}

@media screen and (max-width: 768px) {
    .satisfaction_guarantee {
        font-size: 12px;
        line-height: 18px;
    }
    
    .mobile-offer-wrapper {
        margin-bottom: -30px; 
        background-color: #FF9F2F; 
        z-index: -10; 
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display:block;
        margin-top: 10px;
    }
    .mobile-offer-text {
        font-size: 12px;
        font-weight: 500;
        padding-bottom: 25px; 
        color: white; 
        text-align: center; 
        z-index: -1
    }
    #updated-price-big {
        display: none;
    }
    #updated-price-small {
        display: block;
    }
    .offer-button-wrapper {
        display: none;
    }
    .offer-button-text {
        /* line-height:16px; */
        font-size: 13px; 
    }
    .offer-name-0 {
        font-size: 14px;
    }
    .offer-name-1 {
        max-width: 125px; 
        padding-left:0;
        font-size: 14px;
    }
    
    .offer-name-2 {
        max-width: 175px;
        font-size: 14px;
    }
    .mid-offer-list {
        font-size: 12px;
        font-weight: 400;
    }
    .formula-point-text {
        font-size: 12px;
        line-height: 18px;
    }
  }

@media screen and (max-width: 1187px) {
  .last-option-margin {
    margin-top: -30px !important;
  }
}