.what-to-expect .carousel {
  margin: 0;
}

.what-to-expect .carousel__inner {
  display: grid;
  grid-template-columns: 50px minmax(0, 1fr) 50px;
  position: relative;
}

.what-to-expect .carousel-instance {
  grid-column: 2/3;
  width: 100%;
  position: relative;
  padding-bottom: 40px;
}

.what-to-expect .carousel__slide-content {
  text-align: center;
}

.what-to-expect .carousel__slide-text {
  padding: 40px 0;
  max-width: 660px;
  margin: auto;
}

.what-to-expect .carousel-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  min-height: 400px;
  border-radius: 30px;
}

.what-to-expect .carousel-image img {
  width: 100%;
  height: auto;
  max-width: 400px;
  object-fit: contain;
  border-radius: 20px;
}

.what-to-expect .carousel-prev {
  grid-column: 1/2;
}

.what-to-expect .carousel-next {
  grid-column: 3/4;
}

.what-to-expect .swiper-button-prev,
.what-to-expect .swiper-button-next {
  color: var(--navy);
}

.what-to-expect .swiper-pagination {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}

.what-to-expect .swiper-pagination-bullet {
  background-color: #CFD3DA;
  width: 9px;
  height: 9px;
  opacity: 1;
  margin: 0 5px;
}

.what-to-expect .swiper-pagination-bullet-active {
  background-color: var(--navy);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .what-to-expect .carousel__slide-text {
    font-size: 30px;
    padding: 40px 20px;
  }
}

@media screen and (max-width: 768px) {
  .what-to-expect .carousel__inner {
    grid-template-columns: 20px minmax(0, 1fr) 20px;
  }

  .what-to-expect .carousel__slide-text {
    font-size: 20px;
    padding: 35px 20px;
  }

  .what-to-expect .carousel {
    margin: 30px 0;
  }

  .what-to-expect .carousel-image {
    min-height: 300px;
    border-radius: 20px;
  }

  .what-to-expect .carousel-image img {
    border-radius: 15px;
  }
} 