.secondary_button {
  background: transparent;
  color: black;
  border: 1px solid var(--blue-tint-20);
}

.secondary_button:hover, .secondary_button:active {
  background: transparent !important;
  color: black !important;
  border: 1px solid var(--blue-tint-20) !important;
  box-shadow: none !important;
}

.quiz_2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -3334;
  opacity: 0;
  /* transform: translateY(100%); */
  background: var(--blue);
  transition: opacity .5s ease 1.3s, background .5s ease 1.3s;
}

.quiz_2[aria-hidden='false'] {
  z-index: 9999;
  opacity: 1;
  background: white;
  overflow-y: scroll;
}

body {
  background: white;
}

@media screen and (max-width: 768px) {
  .quiz_2 {
    overflow: scroll;
  }
  .question_subheader {
    text-align:center;
  }
}

.quiz_2__inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "header"
      "content"
      "footer";
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .quiz_2__inner {
    height: auto;
  }
}

.quiz_2__header {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas: 'empty logo close';
  text-align: right;
  padding: 15px 15px 0;
}

.quiz_2__logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz_2__logo-svg {
  display: inline-block;
}

.quiz_2__close {
  grid-area: close;
  background: white;
  width: 34px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: auto;
}

.quiz_2__content {
  grid-template-areas: "headline card";
  column-gap: 66px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  overflow-y: visible;
  min-width: 700px;
  text-align:center;
}

.quiz_2__content-buttons {
  max-width: 466px;
}

@media screen and (max-width: 490px) {
  .quiz_2__content-buttons {
    padding-right: 40px;
    position: fixed;
    bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .quiz_2__content {
    display: block;
    padding-top: 0;
    padding-bottom: 50px;
    min-height: 100vh;
  }
}

.quiz_2__headline:not(.active) {
  display: none;
}

@media screen and (max-width: 768px) {
  .quiz_2__headline {
    max-width: 293px;
  }
}

.quiz_2__content-card {
  max-width: 466px;
  height: 100%;
  margin: auto;
  /* overflow: hidden; */
}

.color_container input:checked ~ svg {
  filter: drop-shadow(0px 0px 3px #46BDF0);
}

@media screen and (max-width: 768px) {
  .quiz_2__content-card {
    /* margin-top: 24px; */
  }
  .quiz_2__content {
    min-width: 0;
  }
}

.quiz_2__form {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0 20px;
}

@media screen and (max-width: 768px) {
  /* .quiz_2__form {
    min-height: 235px;
  } */
  .quiz_2__form {
    padding: 0;
  }
}

.quiz_2__form form {
  width: 100%;
}

.quiz_2__form .h5 {
  margin-bottom: 6px;
}

.quiz_2_input {
  background: transparent;
  padding: 10px !important;
  border: 1px solid #bfe5d4 !important;
}

.quiz_2__input-group input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.quiz_2__input-group label {
  width: 100%;
  color: black;
  display: inline-block;
  background-color: white;
  padding: 15px 20px;
  font-family: manrope, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-radius: 4px;
}

.box_label label {
  border: 1px solid var(--blue-tint-20);
  box-shadow: -2px 3px 6px 0 rgba(70,70,70,.15)
}

.quiz_2__input-group input[type='radio']:checked + label {
  background-color:var(--blue);
  border-color: var(--blue);
  color: white;
}

.quiz_2__input-group input[type='radio']:checked + label img {
  filter: invert(1)
}

.quiz_2_input::placeholder {
  opacity: .5; 
}

.quiz_2__input-group {
  margin-top: 14px;
  margin-bottom: 40px;
  width: 100%;
}

.quiz_2__input-group > * {
  width: 100%;
}

.quiz_2__input-group-columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 5px;
}

.quiz_2__input-group-columns > * {
  flex-basis: 50%;
  flex: 1;
}

.quiz_2__input-group label{
  /* margin-bottom: 12px; */
}

.quiz_2__form input[type='radio'],
.quiz_2__form input[type='checkbox'] {
  display: none!important;
}

.form__step-wrapper_2:not(.active) {
  display: none;
}

.form__step-wrapper_2 {
  text-align:left;
}

.quiz_2__content-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 10vh; */
  width: 100%;
}

.question_headers {
  font-size: 20px;
  font-weight: 600;
}

.additional_info_box {
  background: var(--blue-tint-20);
  border-radius: 5px;
  padding: 25px 15px 15px 15px;
  margin-top: 10px;
}

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

.text {
  margin-left: 5px;
  list-style-type: none;
  font-family: manrope, sans-serif;
  font-weight: 300;
}

.for_email_klaviyo {
  font-family: manrope, sans-serif;
  font-weight: 300;
}

.informative-text {
  margin-top:-40px;
}

.quiz_2__landing {
  max-width: 500px;
  text-align:center;
  display: inline-block;
  margin-top: 30px;
}

.quiz_2__input-group-bare label {
  padding: 21.25px 20px !important;
  text-align: center;
}

.flex-container-label {
  display:flex;
}

.columnar {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px){
  .quiz_2__content-buttons {
    margin-top: 40px;
  }
  .question_headers {
    text-align:center;
    font-size: 18px;
  }
  .informative-text {
    font-size: 15px;
  }
  .quiz_2__input-group label {
    padding: 11px 20px;
  }
  .quiz_2__input-group-bare label {
    padding: 18.5px 20px !important;
    text-align: center;
  }
}

.quiz_2__footer {
  padding: 0 32px 17px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--navy-tint-40);
}

@media screen and (max-width: 768px) {
  .quiz_2__footer {
    flex-direction: column;
  }
}

.quiz_2__footer-links .footer__menu {
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .quiz_2__footer-links .footer__menu{
    flex-direction: column;
    align-items: center;
  }

  .quiz_2__footer-links .footer__menu li {
    margin: 0;
  }

  .quiz_2__footer-copyright {
    margin-top: 40px;
  }
}

/* State */

formula-quiz-2[data-state='0'] [data-form-back] {
  opacity: 0;
}

formula-quiz-2[data-state='0'] .quiz_2__content-card {
  display: none;
  opacity: 0;
}

formula-quiz-2[data-state='0'] .progress-bar-wrapper {
  display: none;
  opacity: 0;
}

.quiz_2::-webkit-scrollbar {
  width: 5px;
}
 
.quiz_2::-webkit-scrollbar-track {
  background: var(--cream-tint-50);
}
 
.quiz_2::-webkit-scrollbar-thumb {
  background-color: var(--navy);
}
